<%-
  subscribed = current_user.subscribed?(channel)
  global     = channel.global?
  priv       = !channel.public?
  admin      = channel.owned_by?(current_user) || current_user.admin?
%>
<%- if subscribed || global || priv || admin %>
  <ul class="icon-list channel-icon-list">
    <%- if global %>
      <li class="global" data-hover-hint="top" title="This channel can be accessed by users on other nodes"></li>
    <%- end %>
    <%- if priv %>
      <li class="private" data-hover-hint="top" title="Only verified users can listen to this channel"></li>
    <%- end %>
    <%- if admin %>
      <li class="admin" data-hover-hint="top" title="You own this channel and can administrate it"></li>
    <%- end %>
    <%- if subscribed %>
      <li class="subscribed" data-hover-hint="top" title="You are listening to this channel"></li>
    <%- end %>
  </ul>
<%- end %>