<ul class="channel-icons">
  <%- unless channel.public? %>
    <li class="private" title="This channel is private" data-hover-hint="top"></li>
  <%- end %>
  <li class="count" title="<%= pluralize(channel.users.registered.size, "user is subscribed", "users are subscribed") %>" data-hover-hint="top"><%= channel.users.registered.size %></li>
</ul>