<nav>
  <%- unless action_name == 'new' %>
    <a href="/channels/new">Create new</a>
  <%- end %>
  <%- unless action_name == 'index' || action_name == 'show'  %>
    <a href="/channels/">Show channels</a>
  <%- end %>
</nav>
<h1>Channels</h1>