<li>
  <%= link_to channel.display_name, { :channel_id => channel.id }, {
    :title => channel.description ? truncate(channel.description, :length => 140) : nil,
    :class => channel.global? ? 'global' : nil,
    'data-channel-id' => channel.id
  } %>
</li>