<li>
  <%= link_to channel.display_name, { :channel_id => channel.id }, {
    :title => channel.description,
    :class => channel.locally_hosted? ? nil : 'global',
    'data-channel-id' => channel.id
  } %>
</li>