<%= render "nav_channels" %>
<output class="content" data-tab="channels">
  <h2>Local Channels</h2>
  <p>
    Here you can find channels from this protonet. Feel free to join one or create a own channel.
  </p>
  <ul class="channels-list">
    <%= render @channels %>
  </ul>
</output>