<h2>Channels:</h2>
<ul id="channel-options">
  <% @channels.each do |a| %>
    <li><%= "<span class=\"name\">#{a.name}</span>: <span class=\"description\">#{a.description}</span>" %> <span class=\"option\"><%= current_user.channels.include?(a) ? link_to('nicht mehr zuhören', current_user.listens.find_by_channel_id(a.id), :method => :delete) : link_to('zuhören', listens_path(:channel_id => a.id), :method => :post) %></span></li>
  <% end %>
</ul>