<h2>Channels</h2>
<ul id="channel-options">
  <%- @channels.each do |c| -%>
    <li>
      <%= "#{c.name} <span>(#{c.description})</span>" %>
      <%= "<span class=\"control\">listen #{current_user.channels.include?(c) ? link_to('OFF', current_user.listens.find_by_channel_id(c.id), :class => 'off', :method => :delete) : link_to('ON', listens_path(:channel_id => c.id), :class => 'on', :method => :post)}</span>" %>
    </li>
  <%- end -%>
</ul>