<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="No-cache" />
<!-- <link rel="stylesheet" media="all" type="text/css" href="/css/v/15/xing/stylesheet.css" /> -->

<style type="text/css" media="screen">
  * {
    margin: 0;
  }
  
  body {
    background-color: black;
  } 
  
  
  #content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }
  
  #terms {
    background-color: grey;
    width: 400px;
    margin: auto;
    list-style-position: outside;
  }
  
  .teaser {
    font: 76%/140% "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    color: black;
    width:430px;
    padding:0 0 14px 0;
    margin:10px auto;
    background:url("/images/tsr.gif") bottom left no-repeat;
  }
  .teaser h3 {
    margin:0;
    padding:7px 10px 3px 10px;
    background:url("/images/tsr.gif") top left no-repeat;
  }
  .teaser p, .teaser a.more {
    margin:0;
    padding:0 10px 3px;
  }
</style>

<title>protonet Dashboard</title>
</head>

<body>
  <div id="content">
    <img src="/images/logo.gif" alt="Logo">
    <h1>. ...welcome to protonet... .</h1>
    <h3>join the internet revolution!</h3>
    <div class="teaser">
      <h3>Login</h3> 
      <form action="index_submit" method="post" accept-charset="utf-8">
        <label for="username">User:</label><br />
        <input type="text" name="username" value="" id="username"><br />
        <label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password">

        <p><input type="submit" value="login &rarr;"></p>
      </form>
    </div>
    <p>the use of this this access point is <em>free of charge</em></p>
    <ul id="terms">
      <li>
        
      </li>
    </ul>
    
  </div>
</body>

</html>
