<div id="single-login">
  <%= render :partial => 'devise/sessions/registration_box' %>
  <header<%= raw " class=\"login\"" if current_user.stranger? %>>
    <a href="<%= root_path %>" class="logo">protonet – it's yours</a>
    <a href="<%= root_path %>" class="monster default">change character</a>
  </header>
</div>
