<div id="single-login">
  <%= render :partial => 'sessions/registration_box' %>
  </section>
  <header<%= " class=\"login\"" if current_user.stranger? %>>
    <a href="<%= root_path %>" class="logo">protonet – it's yours</a>
    <a href="<%= root_path %>" class="monster default">change character</a>
  </header>

</div>