[submodule "app/javascripts/lib/jquery.inview"]
	path = app/javascripts/lib/jquery.inview
	url = git@github.com:protonet/jquery.inview.git
[submodule "app/javascripts/lib/jquery-class-create"]
	path = app/javascripts/lib/jquery-class-create
	url = git@github.com:protonet/jquery-class-create.git
[submodule "app/javascripts/lib/jquery-behaviors"]
	path = app/javascripts/lib/jquery-behaviors
	url = git://github.com/tiff/jquery-behaviors.git
[submodule "app/javascripts/lib/simple-javascript-airbrake-notifier"]
	path = app/javascripts/lib/simple-javascript-airbrake-notifier
	url = git@github.com:protonet/simple-javascript-airbrake-notifier.git
