log/*.log
tmp/**/*
.DS_Store
.gitignore
doc/api
doc/app
*.pid
*.sqlite3
public/javascripts/sprockets.js
public/javascripts/all.js
public/stylesheets/all.css
public/sprockets/*
public/uploads/*
public/avatars/*
public/images/avatars/*
public/externals/*
public/images/externals/*
mkmf.log
db/schema.rb
node/screenshots/*
