log/*.log
log/*.lck
log/*.age
log/*.db
tmp/**/*
.DS_Store
.gitignore
.bundle
.bundle/*
doc/api
doc/app
*.pid
*.sqlite3
set_env.sh
cleanup.sh
public/javascripts/sprockets.js
public/javascripts/all.js
public/stylesheets/all.css
public/sprockets/*
public/uploads/*
public/avatars/*
public/images/avatars/*
public/externals/*
public/images/externals/*
public/system
mkmf.log
node/screenshots/*
node.pid.lock
solr/data
RELEASE
TYPE
.project
erl_crash.dump