<div data-role="page" id="edit_password">

  <div data-role="header" data-theme="b">
    <a href="/mobile" data-icon="back" class="ui-btn-left">Back</a>
    <h1>protonet</h1>
  </div>

  <div data-role="content">  
    <h2>Reset your password</h2>
    <form action="/mobile/users/password" data-ajax="false" method="post">
      <input type="hidden" name="user[reset_password_token]" value="<%= @reset_password_token %>">
      <div class="input">
        <label for="user_password">Password</label>
        <input type="password" name="user[password]" id="user_password" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
       <div class="input">
        <label for="user_password_confirmation">Password Confirmation</label>
        <input type="password" name="user[password_confirmation]" id="user_password_confirmation" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
      <div class="button">
        <button type="submit" name="submit">Reset</button>
      </div>
    </form>
  </div>
  
</div>