<div data-role="page" id="reset_password">

  <div data-role="header">
    <a href="/mobile" data-icon="back" class="ui-btn-left">Back</a>
    <h1>protonet of <strong><%= node.name %></strong></h1>
  </div>

  <div data-role="content">  
    <h2>Reset your password</h2>
    <form action="users/password/reset" data-ajax="false" method="post" id="">
      <div class="input">
        <label for="user_email">Reset your password via email</label>
        <input type="email" name="user[email]" id="user_basic" data-mini="true"  autocapitalize="off" autocorrect="off"/>
      </div>
      <div class="button">
        <button type="submit" name="submit">Reset</button>
      </div>

    </form>
  </div>
  
</div>