<div data-role="page" id="reset_password">

  <div data-role="header" data-theme="e">
    <h1>Reset your password</h1>
  </div>

  <div data-role="content" data-theme="d">  
    <form action="/reset_password" method="post">
      <div class="input">
        <label for="user_email">Reset your password via email</label>
        <input type="email" name="user[email]" id="user_basic" data-mini="true"  autocapitalize="off" autocorrect="off"/>
      </div>
      <div class="button">
        <button type="submit" name="submit" class="ui-btn-hidden">Reset</button>
      </div>

    </form>
  </div>
  
</div>