<div data-role="page" id="sign_up">

  <div data-role="header">
    <a href="/mobile" data-icon="back" class="ui-btn-left">Back</a>
    <h1>protonet of <strong><%= node.name %></strong></h1>
  </div>

  <div data-role="content">  
    <h2>Create an account:</h2>
    <form action="sign_up" data-ajax="false" method="post">
      <div class="input">
        <label for="user_first_name">first name</label>
        <input type="text" name="user[first_name]" id="user_first_name" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
      <div class="input">
        <label for="user_last_name">last name</label>
        <input type="text" name="user[last_name]" id="user_last_name" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
      <div class="input">
        <label for="user_email">email</label>
        <input type="email" name="user[email]" id="user_email" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
      <div class="input">
        <label for="user_password">password</label>
        <input type="password" name="user[password]" id="user_password" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
      <div class="button">
        <button type="submit" name="submit">Sign up</button>
      </div>
    </form>
  </div>
  
</div>