<div data-role="page" id="sign_in">

  <div data-role="header" data-theme="b">
    <h1>protonet</h1>
  </div>

  <div data-role="content">  
    <h2>Welcome to <strong><%= node.name %></strong></h2>
    <% if session['captive_redirect_url'] %>
    <p class="hint">
      Your have been catched by the captive Portal. Please sign in to proceed.
    </p>
    <% end %>
    <form action="/mobile/sign_in" method="post" data-ajax="false" id="login_form">
      <div class="input">
        <label for="user_login">email or login</label>
        <input type="email" name="user[login]" id="user_login" data-mini="true"  autocapitalize="off" autocorrect="off"/>
      </div>
      <div class="input">
        <label for="user_password">password</label>
        <input type="password" name="user[password]" id="user_password" data-mini="true"  autocapitalize="off" autocorrect="off"/>
      </div>
      <div class="button">
        <button type="submit" name="submit" class="ui-btn-hidden">Login</button>
      </div>

    </form>
    <p>
      If you forgot your password, you can <a href="/mobile/users/password/reset">reset it here</a>.
      Switch to <a href="<%= base_url %>?is_mobile=false">normal Version</a>.
    </p>
  </div>

</div>


</div>


