<%= will_paginate(search_results.hits) %>
<% search_results.hits.each do |hit| -%>
<%
  tweet = hit.instance
  c = tweet.channels.first
  tweet.message = hit.highlights(:message).first.format { |phrase| search_highligh_tag(phrase) }
-%>

<div id="feed-viewer">
  <div id="feed-holder" style="width:613px;">
  <%= render :partial => '/tweets/tweet_list',
    :locals => {
      :tweets => tweet.from_minutes_after(5,c.id) + [tweet] + tweet.from_minutes_before(5,c.id), :channel => c, } %>
  </div>
</div>
<% end -%>

<%= will_paginate(search_results.hits) %>