<div data-role="page" id="dashboard">

  <div data-role="header" data-position="fixed">
    <a href="/" rel="back" data-icon="arrow-l" class="ui-btn-left" data-transition="flip">back</a>
    <h1><%= current_user.login %></h1>
  </div>

  <div data-role="content" >  
    <a href="/sign_out" rel="external">logout</a>
  </div>

</div>