<div data-role="page" id="start">

  <div data-role="header">
    <h1>protonet of <strong><%= settings.node.name %></strong></h1>
  </div>

  <div data-role="content" >  
    <h2>Welcome</h2>
    <form action="/login" method="post">
      <div class="input">
        <label for="user_login">email or login</label>
        <input type="text" name="user[login]" id="user_login" data-mini="true"  autocapitalize="off" autocorrect="off"/>
      </div>
      <div class="input">
        <label for="user_password">password</label>
        <input type="password" name="user[password]" id="user_password" data-mini="true"  autocapitalize="off" autocorrect="off"/>
      </div>
      <div class="button">
        <button type="submit" name="submit" class="ui-btn-hidden">Login</button>
      </div>

    </form>
    <p>
      <a href="#sign_up" data-rel="dialog" data-transition="pop">create an account</a> if you don't have an account.
      If you forget your password, you can <a href="#reset_password" data-rel="dialog" data-transition="pop">reset it here</a>.
    </p>
  </div>

</div>


<div data-role="page" id="sign_up">

  <div data-role="header" data-theme="e">
    <h1>Create an account:</h1>
  </div><!-- /header -->

  <div data-role="content" data-theme="d">  
    <form action="/sign_up" method="post">
      <div class="input">
        <label for="user_login">login</label>
        <input type="text" name="user[login]" id="user_login" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
      <div class="input">
        <label for="user_email">email</label>
        <input type="email" name="user[email]" id="user_email" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
      <div class="input">
        <label for="user_password">password</label>
        <input type="password" name="user[password]" id="user_password" data-mini="true" autocapitalize="off" autocorrect="off" />
      </div>
      <div class="button">
        <button type="submit" name="submit" class="ui-btn-hidden">Sign up</button>
      </div>

    </form>
  </div>
  
</div>


<div data-role="page" id="reset_password">

  <div data-role="header" data-theme="e">
    <h1>Reset your password</h1>
  </div><!-- /header -->

  <div data-role="content" data-theme="d">  
    <form action="/reset_password" method="post">
      <div class="input">
        <label for="user_login">email or login</label>
        <input type="text" name="user[login]" id="user_basic" data-mini="true"  autocapitalize="off" autocorrect="off"/>
      </div>
      <div class="button">
        <button type="submit" name="submit" class="ui-btn-hidden">Reset</button>
      </div>

    </form>
  </div>
  
</div>