<% javascript_tag do %>
  var networks = <%= Network.all.to_json %>;
<% end %>
<div>
  <div id="network-monitor"></div>
  <div style="height:20px">
    <a href="/networks">go to detailed view</a>
  </div>
</div>