<% javascript_tag do %>
  var networks = <%= Network.all.to_json %>;
<% end %>
<div id="network-wrap">
  <div id="network-monitor"></div>
  <div id="network-links">
    <a href="javascript:void(0);" onclick="NetworkGraph.retry();">re-render</a> |
    <a href="/networks">go to detailed view</a>
  </div>
</div>