<h2>Networks</h2>
<div id="network" style="float:left;">
  <form id="network-search" action="/network/search">
    <fieldset>
      <input type="text" value="<%= params[:description] %>" name="description" title="search for networks ..."/>
    </fieldset>
  </form>
  
  <ul>
    <%- @networks.each do |n| -%>
      <li id="network-<%= n.id %>">
        <%= "#{n.name}" %>
        <span class="control"><%= link_to('OFF', {:action => 'connect'}, :class => 'off') %></span>

      </li>
    <%- end -%>
  </ul>
</div>
<div id="network-monitor-wrapper">
  <div id="network-monitor">

    <!-- border: 0.1em solid #D4D4D4; -->
  </div>
</div>
