/* =CHANNELS
=========================================================================== */

#channels {
  border-bottom: 1px solid rgb(140, 140, 140);
  margin: 0 20px 15px 30px;
  padding: 0 0 0 15px;
  position: relative;
  z-index: 5;
}

#channels ul {
  margin: 0 0 -1px;
}

#channels li {
  margin-top: 3px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

.html5sortable-state-highlight {
}

li.html5sortable-state-highlight + li{
  padding-left: 51px;
}

#channels li:last-child {
  margin-right: 140px;
}

#channels li a {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  background: #eee;
  background: rgba(0, 0, 0, 0.1);
  background: -moz-linear-gradient(100% 100% 90deg, rgba(0, 0, 0, 0.1), transparent);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.1)));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #999;
  color: #666;
  display: block;
  line-height: 22px;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
}

#channels a:hover,
#channels a:focus {
  color: rgb(72, 123, 255);
}

#channels li a:focus,
#channels li a:active {
  background: -moz-linear-gradient(100% 100% 90deg, transparent, rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(transparent));
}

#channels .active {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(72, 123, 255);
  line-height: 26px;
}

#manage-channels {
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}

#manage-channels a {
  color: rgb(170, 170, 170);
  text-decoration: none;
}

#channels .badge,
#channels .reply-badge {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  padding: 1px 2px 2px;
  font-size: 9px;
  line-height: 9px;
  position: absolute;
  top: -5px;
}

#channels .badge {
  background: #e75c79;
  right: 1px;
}

#channels .reply-badge {
  background: #ff7f31;
  right: 13px;
}

/* ==============================================================CHANNELS = */