/* =CHANNELS
=========================================================================== */

#channels {
  border-bottom: 1px solid rgb(140, 140, 140);
  display: block;
  margin: 0 20px 10px 30px;
  padding: 0 0 0 15px;
  position: relative;
  z-index: 5;
}

#channels ul {
  margin: 0 0 -1px;
  overflow:hidden;
}

#channels li {
  margin-top: 3px;
  display: block;
  float: left;
  vertical-align: bottom;
  position: relative;
  margin: 6px 3px 0 0;
}

li.html5sortable-state-highlight + li {
  padding-left: 51px;
}

#channels li:last-child {
  margin-right: 140px;
}

#channels li a {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  background: #eee;
  background: rgba(0, 0, 0, 0.1);
  background: -moz-linear-gradient(100% 100% 90deg, rgba(0, 0, 0, 0.1), transparent);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.1)));
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #999;
  bottom: 0;
  color: #666;
  display: block;
  line-height: 22px;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
}

#channels a:hover,
#channels a:focus {
  color: rgb(72, 123, 255);
}

#channels li a:focus,
#channels li a:active {
  background: -moz-linear-gradient(100% 100% 90deg, transparent, rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(transparent));
}

#manage-channels {
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}

#manage-channels a {
  color: rgb(170, 170, 170);
  text-decoration: none;
}

#channels .badge,
#channels .reply-badge {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  padding: 1px 2px 2px;
  font-size: 9px;
  line-height: 9px;
  position: absolute;
  top: -5px;
}

#channels .badge {
  background: #e75c79;
  right: 1px;
}

#channels .reply-badge {
  background: #ff7f31;
  right: 13px;
}

#channels .hide-link {
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  width: 21px;
  right: 0;
  background: transparent url(/img/icn_close_grey.png) no-repeat 5px center;
}

#channels .hide-link:hover {
  opacity: 1;
}

#channels .active + .hide-link {
  margin-top: -10px;
}

#channels .rendezvous {
  background: #FFE0CC;
  background: -moz-linear-gradient(100% 100% 90deg, rgba(255, 127, 49, 0.1), transparent);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(255, 127, 49, 0.1)));
  padding-right: 23px;
  padding-left: 22px;
}

#channels .rendezvous:focus,
#channels .rendezvous:active {
  background: -moz-linear-gradient(100% 100% 90deg, transparent, rgba(255, 127, 49, 0.1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 127, 49, 0.1)), to(transparent));
}

#channels .rendezvous:hover {
  color: #ff7f31;
}

#channels .rendezvous.active {
  color: #ff7f31;
}

#channels .active {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: rgb(72, 123, 255);
  line-height: 26px;
  margin-top: -4px;
}

/* online status */
#channels .rendezvous:before {
  background: url(../img/spr_user_status.png) no-repeat 0 -20px;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 4px;
  width: 16px;
  height: 16px;
}

#channels .rendezvous.online:before {
  background-position: 0 0;
}

#channels .rendezvous.typing:before {
  background-position: 0 -45px;
}

/* ==============================================================CHANNELS = */