/* =CONTEXT MENU
=========================================================================== */
.context-menu {
  background-color: #fff;
  position: absolute;
  display: none;
  border: 1px solid #487bff;
  font-size: 10px;
  z-index: 21;
  margin-top: 2px;
  min-width: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.context-menu:before {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 0;
  margin: -8px 0 0 -7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #487bff;
}

.context-menu li {
  cursor: pointer;
  padding: 6px;
  color: #487bff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.context-menu li:hover,
.context-menu li:focus {
  background-color: #eee;
}

.context-menu li:last-child {
  border-bottom: 0;
}

/** Overrule styles, set by plupload.js */
.context-menu li .plupload {
  display: none !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 500px !important;
}

.context-menu li .plupload input {
  cursor: pointer;
  font-size: 100px;
}

.context-menu-smileys:before {
  left: 26px;
}

.context-menu-smileys {
  width: 216px;
  padding: 6px;
  margin-left: 173px;
}

.context-menu-smileys li {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  float: left;
  border: 0;
}

.context-menu-smileys li:hover {
  background-color: #ccc;
}

.context-menu-users {
  margin-right: -25px;
}