/* =CONTEXT MENU
=========================================================================== */
.context-menu {
  background-color: #fff;
  position: absolute;
  display: none;
  border: 1px solid #487bff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 10px;
  box-shadow: 3px 3px 3px #999;
  -webkit-box-shadow: 3px 3px 3px #999;
  -moz-box-shadow: 3px 3px 3px #999;
  z-index: 10;
  margin-top: 2px;
  min-width: 100px;
}

.context-menu:before {
  content: " ";
  display: block;
  left: 50%;
  position: absolute;
  top: 0;
  margin: -8px 0 0 -7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #487bff;
}

.context-menu li {
  cursor: pointer;
  padding: 6px;
  color: #487bff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.context-menu li:hover,
.context-menu li:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.context-menu li:last-child {
  border-bottom: 0;
}

/** Overrule styles, set by plupload.js */
.context-menu li .plupload {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 500px !important;
}

.context-menu li .plupload input {
  cursor: pointer;
  font-size: 100px;
}

.context-menu-smileys {
  width: 168px;
  padding: 6px;
}

.context-menu-smileys li {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  float: left;
  border: 0;
}
