/* =GENERAL

    COLORS:
      black       #000 rgb(0, 0, 0)
      blue        #487bff rgb(72, 123, 255)
      grey        #999
      grey_dark   #666
      grey_light  #ccc
      orange      #ff7f31 rgb(255, 140, 71)
      white       #fff rgb(255, 255, 255)
=========================================================================== */
html,
body {
  min-height: 100%;
}

body {
  overflow-y: scroll;
  background: url(/img/background_top.png) repeat-x,
              url(/img/background_bottom.png) repeat-x left bottom,
              url(/img/background.png) fixed;
  margin: 20px auto;
  width: 940px;
  color: #000;
}

body,
select,
textarea,
input {
  font: 12px/1.4em Verdana, sans-serif;
}

a {
  color: #000;
}

a:hover {
  color: rgb(72, 123, 255);
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgb(255, 140, 71);
  background: -moz-linear-gradient(100% 100% 90deg, rgba(255, 140, 71, 0.7), rgba(255, 140, 71, 1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 140, 71, 1)), to(rgba(255, 140, 71, 0.7)));
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 2px 15px;
  -moz-box-shadow: 0 0 4px #666;
  -webkit-box-shadow: 0 0 4px #666;
  box-shadow: 0 0 4px #666;
}

button:hover {
  background: rgb(255, 140, 71);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

output {
  display: block;
}

header {
  display: block;
  margin: 0 -10px -30px;
}

header a {
  background: url(/img/protonet.png) no-repeat;
  display: block;
  height: 121px;
  text-indent: -500em;
  width: 209px;
}

section,
aside {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  min-height: 500px;
  vertical-align: top;
}

.hint {
  color: #999;
}

.inline-hint {
  color: #ccc;
}

.greet-user {
  margin: -20px 20px 0;
  color: #666;
  line-height: 20px;
  text-align: right;
}

#main {
  width: 650px;
  margin: 0 20px 0 0;
  position: relative;
}

#side {
  width: 260px;
}

#cloud-container {
  position: fixed;
  overflow: hidden;
  height: 450px;
  left: 0;
  right: 0;
  z-index: -1;
  margin: -20px 0 0;
}

pre {
  margin: 5px 0;
  max-height: 200px;
  overflow: auto;
  display: block;
  font-size: 12px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  font-family: Courier New, Courier;
}

/* ============================================================== GENERAL = */