.getting-started {
  background: #487bff;
  margin: 0 -30px 20px -30px;
  padding: 20px 10px 22px;
  position: relative;
}

.getting-started h4 {
  text-transform: uppercase;
  font-family: protonet;
  font-size: 26px;
  line-height: 1.2;
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
}

.getting-started-close-link {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  position: absolute;
  text-align: center;
  line-height: 18px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  text-decoration: none;
  right: 6px;
  top: 6px;
}

.getting-started-close-link:hover {
  color: #000;
}

.getting-started ol {
  counter-reset: li;
}

.getting-started li {
  margin-top: 14px;
  position: relative;
  padding-left: 30px;
  color: #fff;
}

.getting-started li a {
  text-decoration: none;
  color: #fff;
}

.getting-started li:before {
  font-family: Arial, sans-serif;
  position: absolute;
  left: 0;
  top: -2px;
  content: counter(li);
  counter-increment: li;
  font-size: 16px;
  background: #3962cc;
  color: #fff;
  font-weight: bold;
  line-height: 21px;
  width: 21px;
  height: 21px;
  text-align: center;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

.getting-started li.done:before {
  content: "";
  background: #fff url(/img/icn_check_mark.png) no-repeat center center !important;
}

.getting-started li:hover:before {
  background: #0e1833;
}

.getting-started strong {
  display: block;
  font-size: 13px;
}

.getting-started p {
  font-size: 11px;
  line-height: 1.5;
  color: #eee;
}