.getting-started {
  background: -moz-linear-gradient(#FE6, #F5DA41, #F6EF97);
  background: -webkit-linear-gradient(#FE6, #F5DA41, #F6EF97);
  background: linear-gradient(#FE6, #F5DA41, #F6EF97);
  margin-top: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), inset 0 0 1px rgba(255, 255, 255, .8), inset 0 6px 6px rgba(0, 0, 0, .1);
  padding: 15px 15px 15px 18px;
  margin-left: -3px;
  margin-bottom: 24px;
  overflow: hidden;
}

.getting-started h4 {
  position: relative;
  font-size: 16px;
  padding-left: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-shadow: 0 1px 1px #fff;
}

.getting-started h4 img {
  border: 1px solid rgba(0, 0, 0, 0.6);
  outline: 3px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  left: -3px;
  top: 50%;
  margin-top: -14px;
  -webkit-transform: rotate(-4deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-4deg) translate3d(0, 0, 0);
  transform: rotate(-4deg) translate3d(0, 0, 0);
}

.getting-started-close-link {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  right: 8px;
  top: 7px;
}

.getting-started-close-link:hover {
  color: #000;
}

.getting-started li {
  margin-top: 14px;
  line-height: 1.4;
  position: relative;
}

.getting-started li.done {
  color: #000;
  text-decoration: line-through;
}

.getting-started li a {
  text-decoration: none;
  color: #333;
}

.getting-started p {
  font-size: 11px;
  line-height: 1.5;
  color: #555;
}

.getting-started .logout-link {
  color: #333;
  float: right;
  text-decoration: none;
}