.getting-started {
  background: -moz-linear-gradient(#FE6, #F5DA41, #F6EF97);
  background: -webkit-linear-gradient(#FE6, #F5DA41, #F6EF97);
  background: linear-gradient(#FE6, #F5DA41, #F6EF97);
  background: #FE6;
  margin-top: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), inset 0 0 1px rgba(255, 255, 255, .8), inset 0 6px 6px rgba(0, 0, 0, .1);
  padding: 15px 15px 15px 18px;
  margin-left: -3px;
  margin-bottom: 24px;
  overflow: hidden;
}

.getting-started h4 {
  position: relative;
  font-size: 16px;
  padding-left: 36px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.getting-started h4 img {
  border: 1px solid rgba(0, 0, 0, 0.6);
  outline: 3px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  left: -3px;
  top: 50%;
  margin-top: -13px;
  -webkit-transform: rotate(-4deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-4deg) translate3d(0, 0, 0);
  transform: rotate(-4deg) translate3d(0, 0, 0);
}

.getting-started-close-link {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  right: 8px;
  top: 7px;
}

.getting-started-close-link:hover {
  color: #000;
}

.getting-started ol {
  counter-reset: li;
  margin: 10px -20px 0 -15px;
}

.getting-started li {
  padding: 7px 15px 7px 15px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.getting-started li a {
  line-height: 19px;
  padding-left: 35px;
  display: block;
  text-decoration: none;
  color: #333;
}

.getting-started li a:hover {
  color: #000;
}

.getting-started li a::before {
  content: counter(li);
  counter-increment: li;
  border-radius: 4px;
  left: 19px;
  top: 6px;
  width: 20px;
  height: 19px;
  color: #666;
  text-align: center;
  line-height: 19px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
}

.getting-started li a:hover::before {
  color: #000;
  background: rgba(255, 255, 255, 0.6);
}

.getting-started li.done a {
  text-decoration: line-through;
  color: #666;
}

.getting-started li.done a::before {
  content: "\2714";
  color: #00cc00;
  font-weight: bold;
}

.getting-started .logout-link {
  color: #999;
  float: right;
  margin: 10px -5px -5px;
  text-decoration: none;
}