.ui-header .ui-title, 
.ui-footer .ui-title {
  margin: .6em 10% .8em;
}
.ui-page{
  background:white;
  padding:42px 0 0 0;
}
.ui-header{
  position: fixed;
  top: 0;
  width:100%;
  z-index:3;
}
.ui-header a.userlist{
  right: 45px;
}
.content{
  background: white;
  position:absolute;   
  z-index:1;
  top: 42px;
  bottom: 100px;
  width:100%;
}
.ui-footer{
  position: fixed;
  bottom: 0;
  width:100%;
  z-index:3;
  padding: 0;
  height: 100px;
  overflow:hidden;
}
.channel-page .ui-footer textarea{
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  margin: 2px 14px 2px 2px;
  line-height: 1.4;
  font-size: 12px;
  display: block;
  width: 99%;
  outline: 0;
}
li.meep p{
  word-wrap: break-word;
  white-space: pre-wrap;
}