.ui-header .ui-title, 
.ui-footer .ui-title {
  margin: .6em 10% .8em;
}
.ui-page{
  background:white;
  padding:42px 0 0 0;
}
.ui-header{
  position: fixed;
  top: 0;
  width:100%;
  z-index:3;
}
.ui-header a.userlist{
  right: 45px;
}
.content{
  background: white;
  position:absolute;   
  z-index:1;
  top: 40px;
  bottom: 100px;
  width:100%;
}
.content .scroller{
  height:100%;
}
.ui-footer{
  position: fixed;
  bottom: 0;
  width:100%;
  z-index:3;
  padding: 0;
  height: 102px;
  overflow:hidden;
}
.channel-page .ui-footer textarea{
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  margin: 2px 14px 2px 2px;
  line-height: 1.4;
  font-size: 12px;
  display: block;
  width: 99%;
  outline: 0;
}
ul.timeline{
  margin:0;
  padding:10px 0;
  overflow:hidden;

}
li.meep{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */;
  list-style:none;
  overflow:hidden;
  width: 100%;
  padding: 0 35px;
}
li.meep p{
  margin: 2px 0;
  font-size:12px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
li.meep span{
  font-size:10px;
  color:#666;
}
li.meep span time{
  color:#B4B4B4;
}
li.meep .bubble{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  background-color: #F6F6F6;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: block;
  padding: 10px;
  position: relative;
  vertical-align: top;
  position:relative;
  max-width:85%;
}
li.meep .bubble {
  float: left;    
  margin: 5px 15px;         
}
li.meep.me .bubble {
  float: right;
  background:#FFF5EF;
}
li.meep .author {
  position: absolute;
  left: -40px;
  bottom:5px;
  height: 25px;
  width: 25px;
  padding: 2px;
  background:#F2F2F2;
  box-shadow: 0 0 6px #B2B2B2;
}
li.meep.me .bubble .author{
  left: auto;
  bottom:5px;
  right: -40px;
}

