/* =LOGIN
=========================================================================== */
header.login {
  background: url(/img/icn_login_arrow_r2.png) no-repeat 220px 0;
  position: relative;
}

#login {
  min-height: 100px;
  padding: 15px 30px 20px 30px;
  width: 890px;
}

#login h1 {
  color: rgb(72, 123, 255);
  font-size: 12px;
  text-transform: lowercase;
}

#login .form {
  border-right: 1px solid #999;
  display: inline-block;
  padding: 2px 0;
  vertical-align: top;
  width: 432px;
}

#single-login #login, #single-login #login .form {
  width: auto;
}

#single-login .form .field_with_errors {
  display: inline;
}

#single-login .sign-up .field_with_errors input {
  border: 1px solid red;
}

#login .form legend {
  color: #666;
  font-size: 17px;
  padding-bottom: 10px;
}

#login .form label {
  display: none;
}

#login .form div {
  margin-bottom: 10px;
}

#login .form div:last-child {
  margin-bottom: 0;
}

#login .hint {
  font-size: 10px;
}

#login .forgot-password {
  line-height: 24px;
}

#login form {
  padding-left: 10px;
}

#login .sign-up {
  padding-right: 10px;
}

#login .login {
  padding-left: 10px;
  border: 0 none;
}

#login .login.no-register {
  padding-left: 0;
}

#login .login.no-register input[type=text],
#login .login.no-register input[type=password] {
  width: 280px;
}

.external-login {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -3px;
}

/* ================================================================ LOGIN = */