/* =MEEPS
=========================================================================== */
.meep {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #F6F6F6;
  border: 1px solid rgb(180, 180, 180);
  margin: 0 20px 10px 45px;
  padding: 1px 10px 3px;
  position: relative;
}

.meep.focus:before {
  content: "";
  background: rgb(72, 123, 255);
  background: rgba(72, 123, 255, 0.5);
  background: -moz-linear-gradient(top, rgba(72, 123, 255, 0.3), rgba(72, 123, 255, 0.7));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(72, 123, 255, 0.3)), to(rgba(72, 123, 255, 0.7)));
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 7px 7px 0;
}

.own.meep {
  background: #fff5ef;
}

.meep .author {
  font-size: 10px;
  padding: 2px 12px 2px 1px;
  color: #666;
}

.meep article {
  position: relative;
  border-bottom: 1px solid rgb(220, 220, 220);
  display: block;
  padding: 5px 12px 5px 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.meep article:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}

.meep .author {
  background: url(/img/spr_message_arrows_r2.png) no-repeat 0 0;
  margin-left: -25px;
  padding-left: 25px;
}

.own.meep .author {
  background-position: 0 -81px;
}

.meep article q:before,
.meep article q:after {
  font-family: serif;
  font-size: 20px;
  color: #999;
  height: 0px;
  display: inline-block;
}

.meep article q:before {
  vertical-align: top;
  content: "\201C";
  margin-right: 2px;
}

.meep article q:after {
  vertical-align: middle;
  content: "\201D";
  margin-left: 2px;
}

.meep article q {
  display: block;
  margin: 5px 0 0;
  padding: 2px 0;
  padding-left: 5px;
  color: #666;
  border-left: 2px solid #999;
}

.meep .avatar {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  bottom: -2px;
  height: 48px;
  left: -71px;
  position: absolute;
  width: 22px;
}

.meep .avatar img {
  background: rgb(255, 255, 255);
  padding: 6px;
}

.meep time {
  color: rgb(180, 180, 180);
}

.meep .username {
  color: rgb(234, 100, 47);
}

.meep .status {
  color: rgb(180, 180, 180);
  float: right;
}

.meep.separator:after {
  right: 0;
  left: 0;
  content: "";
  bottom: -7px;
  border-bottom: 1px dotted #ccc;
  position: absolute;
}

.meep.error .status {
  color: red;
}

div.progress {
  height: 48px;
  background: transparent url(/img/icn_loading_big.gif) center center no-repeat;
  margin-bottom: 6px;
}

.detail-view-link,
.share-link {
  background: url(/img/spr_meep_options.png) no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 20px;
  height: 15px;
  position: absolute;
  right: -10px;
  z-index: 3;
}

.detail-view-link {
  background-position: 1px 1px;
  top: -2px;
}

.detail-view-link:active {
  background-position: 1px -39px;
}

.share-link {
  background-position: 1px -24px;
  top: 13px;
}

.share-link:active {
  background-position: 1px -64px;
}

.no-meeps-available {
  display: none;
  text-align: center;
  color: rgb(180, 180, 180);
}

.heart {
  color: red;
  cursor: default;
  text-shadow: 1px 1px 1px #999;
}

/* Socket */
#flash-socket {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  top: 0;
  z-index: 2147483646;
}

/* Channel/User replies */
.reply {
  color: #fff !important;
  padding: 1px 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.reply.channel {
  background: rgb(72, 123, 255);
  background: rgba(72, 123, 255, 0.8);
}

.reply.channel:hover {
  background: rgb(72, 123, 255);
  background: rgba(72, 123, 255, 1);
}

.reply.user {
  color: #000 !important;
  border: 1px solid rgb(255, 127, 49);
}

.reply.user.myself {
  color: #fff !important;
  border: 0;
  background: rgb(255, 127, 49);
  background: rgba(255, 127, 49, 0.8);
}

.reply.user.myself:hover {
  background: rgb(255, 127, 49);
}

.reply-from-channel {
  float: right;
  margin-left: 5px;
}

.reply-from-channel a {
  color: rgb(72, 123, 255);
  color: rgba(72, 123, 255, 0.8);
}

.reply-from-channel a:hover {
  color: rgb(72, 123, 255);
}


/* Meeps in modal windows: */
.modal-window .meep .avatar {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.node-offline-hint {
  border: 0;
  border-bottom: 1px solid #8C8C8C;
  margin: -10px 20px 10px;
}
/* ================================================================ MEEPS = */