/* =CONSOLE
=========================================================================== */

#message-form {
  margin: 15px;
  width: 620px;
}

#message-form textarea {
  font-size: 16px;
  height: 90px;
  width: 608px;
  padding: 5px;
  margin: 0;
  display: block; /* textareas are inline-block by default in webkit and inline in firefox */
  resize: none;
  position: relative;
  /*
  * ensure that blue border, that is natively displayed in some browsers
  * when textarea is focused, is on top of surrounding elements
  */
  z-index: 1;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

/* =MEEPS
=========================================================================== */

.meeps li {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  background: -moz-linear-gradient(100% 100% 90deg, rgba(0, 0, 0, 0.1), transparent);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.1)));
  border: 1px solid rgb(180, 180, 180);
  border-radius: 1em;
  margin: 0 20px 15px 45px;
  padding: 10px;
  position: relative;
}

.meeps .own {
  background: -moz-linear-gradient(100% 100% 90deg, rgba(234, 100, 47, 0.1), transparent);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(234, 100, 47, 0.1)));
}

.meeps .author {
  font: 10px/1.4em Verdana, sans-serif;
  margin-top: 5px;
}

.meeps article {
  border-bottom: 1px solid rgb(220, 220, 220);
  display: block;
  margin: 0 0 5px;
  padding: 0 0 5px;
}

.meeps article:nth-last-child(2) {
  border-bottom: 0;
  background: url("/img/icn_message_arrow.png") no-repeat left bottom;
  margin: 0 0 0 -25px;
  padding: 0 0 0 25px;
}

.meeps .own article:nth-last-child(2) {
  background-image: url("/img/icn_own_message_arrow.png");
}

.meeps .avatar {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 46px;
  left: -70px;
  position: absolute;
  width: 21px;
}

.meeps .avatar img {
  background: rgb(255, 255, 255);
  padding: 5px;
}

.meeps time {
  color: rgb(180, 180, 180);
}

.meeps .username {
  color: rgb(234, 100, 47);
}

.meeps .status {
  color: rgb(180, 180, 180);
  float: right;
}

.meeps .separator:after {
  right: 0;
  left: 0;
  content: " ";
  bottom: -9px;
  border-bottom: 1px dotted rgb(180, 180, 180);
  position: absolute;
}

.meeps .error {
  opacity: 0.5;
}

.meeps .error .status {
  color: red;
}

#timeline-loading-indicator {
  display: none;
  height: 32px;
  background: url(/img/icn_loading.gif) center center no-repeat; /* TODO: Check for a better loading graphic ajaxload.info */
  margin-bottom: 6px;
}

.no-meeps-available {
  display: none;
  text-align: center;
  color: rgb(180, 180, 180);
}

.smilie {
  display: inline-block;
  vertical-align: bottom;
  background: url(/img/spr_smilies.png) no-repeat;
}

.smilie.grin {
  background-position: 0 0;
}

.smilie.lol {
  background-position: -19px 0;
}

.smilie.sad {
  background-position: -38px 0;
}

.smilie.blink {
  background-position: -57px 0;
}
/* ================================================================ MEEPS = */