.modal-window-shadow {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-window-dialog {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background: #fff;
  position: relative;
  width: 650px;
  margin: 0 auto;
  border-bottom: 4px solid #999;
}

.modal-window-content {
  margin-right: -15px;
  padding: 15px 20px;
  height: 20px;
  overflow-y: auto;
}

.modal-window-dialog > h2 {
  background: rgba(72, 123, 255, 0.5);
  background: -moz-linear-gradient(100% 100% 90deg, rgba(72, 123, 255, 0.6), rgba(72, 123, 255, 0.3));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(72, 123, 255, 0.3)), to(rgba(72, 123, 255, 0.6)));
  -webkit-box-shadow: 0 0 10px #999;
  -moz-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  padding: 20px;
  color: white;
}

.modal-window-shadow {
  z-index: 5;
  display: none;
}

.modal-window-close-link {
  position: absolute;
  top: -16px;
  right: -16px;
}

.modal-window-dialog .loading-indicator {
  text-align: center;
  color: rgb(180, 180, 180);
}