/* =GENERAL
=========================================================================== */
.modal-window-shadow {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-window-dialog {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background: #fff;
  position: relative;
  width: 650px;
  margin: 0 auto;
  border-bottom: 5px solid #999;
  border-top: 5px solid #999;
}

.modal-window-content {
  margin-right: -17px;
  padding: 15px 20px;
  height: 20px;
  overflow-y: auto;
}

.modal-window-dialog > h2 {
  background: rgba(72, 123, 255, 0.5);
  background: -moz-linear-gradient(100% 100% 90deg, rgba(72, 123, 255, 0.6), rgba(72, 123, 255, 0.3));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(72, 123, 255, 0.3)), to(rgba(72, 123, 255, 0.6)));
  -webkit-box-shadow: 0 0 10px #999;
  -moz-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  padding: 20px;
  color: white;
}

.modal-window-shadow {
  z-index: 5;
  display: none;
}

.modal-window-close-link {
  position: absolute;
  z-index: 5;
  top: -16px;
  right: -16px;
}

.modal-window-dialog .loading-indicator {
  text-align: center;
  color: rgb(180, 180, 180);
}


/* =MODAL WINDOWS CONTAINING MEEPS
=========================================================================== */
.search-window li.meep:last-child {
  margin-bottom: 0;
}


/* =MODAL WINDOW: SEARCH
=========================================================================== */
#search-form {
  margin-bottom: 20px;
}

.search-window .meeps {
  margin: 0 -20px;
  width: 650px;
}

.search-window .modal-window-content {
  padding-left: 45px;
  margin-left: -25px;
}

input.search {
  border-width: 3px;
  padding: 5px 27px 5px 5px;
  font-size: 14px;
  width: 182px;
  background: #fff url(../img/icn_search.png) 190px center no-repeat;
  -webkit-appearance: none;
}

.modal-window-dialog input.search {
  width: 572px;
  background-position: 580px;
}

.search-window .no-meeps-available {
  display: block;
}

.search-window .meep-loading-indicator {
  margin-top: 15px;
}

.modal-window-dialog.loading input.search {
  background-image: url(../img/icn_loading.gif);
}


/* =MODAL WINDOW: MEEP DETAILS
=========================================================================== */
.meep-window .modal-window-content {
  padding-left: 75px;
  margin-left: -55px;
  overflow: hidden;
  margin-right: -30px !important;
  position: relative;
}

.meep-window .meeps {
  margin: 0 -20px;
  width: 650px;
}

.meep-window h2 {
  display: none;
}

.meep-window .meeps {
  position: absolute;
  top: 50%;
}

.meep-window .border {
  height: 90px;
  border: 20px solid rgb(72, 123, 255);
  border-width: 22px 20px;
  -webkit-box-shadow: 0 0 8px #000;
  -moz-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  position: absolute;
  left: 5px;
  top: 50%;
  padding: 7px;
  margin-top: -70px;
  width: 654px;
  background: #fff;
}

.meep-window .border.loading {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(/img/icn_loading_big.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.meep-window .next,
.meep-window .previous {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}

.meep-window .selected.meep {
  z-index: 5;
  opacity: 1;
}

.meep-window .next {
  border-color: transparent transparent rgb(72, 123, 255) transparent;
  top: -45px;
}

.meep-window .previous {
  border-color: rgb(72, 123, 255) transparent transparent transparent;
  bottom: -47px;
}

.meep-window .selected.meep .avatar {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.meep-window h5 {
  position: absolute;
  top: -22px;
  color: #fff;
  line-height: 24px;
  font-size: 11px;
  left: 30px;
}

.meep-window input {
  border: 1px inset #999;
  color: #333;
  font-size: 10px;
  width: 190px;
  background: #ddd;
  height: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 0;
}