.subpage {
  display: block;
  position: relative;
  min-height: 300px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.subpage:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.modal-window .subpage {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  height: 100%;
}

.subpage h2 {
  font-size: 18px;
}

.subpage h2 i {
  font-style: normal;
  font-weight: normal;
  color: #999;
}

.subpage h3 {
  margin-top: 50px;
  font-size: 14px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
}

.subpage h3:first-child {
  margin-top: 0;
}

.subpage h4 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.subpage h2,
.subpage h3,
.subpage p {
  margin-bottom: 15px;
}

.subpage aside {
  float: left;
  width: 250px;
  border-right: 1px solid #999;
}

.subpage aside:after {
  content: "";
  top: 57px;
  position: absolute;
  bottom: 0;
  border-right: 1px solid #999;
  left: 250px;
}

.subpage aside > ul > li {
  word-wrap: break-word;
  position: relative;
  border-bottom: 1px solid #999;
}

.subpage aside .selected {
  z-index: 1;
}

.subpage aside .selected a {
  background: #487bff !important;
  color: #fff !important;
  border-bottom: 1px solid transparent !important;
}

.subpage aside .selected i {
  color: #ccc !important;
}

.subpage aside .selected:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  right: -28px;
  margin-top: -27px;
  top: 50%;
  border-left: 28px solid #487bff;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
}

.subpage aside li a {
  display: block;
  padding: 20px 10px 20px 30px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  background: #eee;
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.08));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.08)));
  outline: 0;
}

.subpage aside li a:hover,
.subpage aside li a:focus {
  color: #000;
  background: -moz-linear-gradient(top, #eee, #ccc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
}

.subpage aside li a:active {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(transparent));
}

.subpage aside strong {
  font-size: 14px;
  text-shadow: 0 1px 1px #fff;
}

.subpage aside .selected strong {
  font-size: 14px;
  text-shadow: none;
}

.subpage aside p {
  font-size: 9px;
  margin-bottom: 0;
}

.subpage aside img {
  margin-top: 7px;
  outline: 1px solid #fff
}

.subpage aside img + i {
  font-style: normal;
}

.subpage aside i {
  font-size: 9px;
}

.subpage .content {
  padding: 20px;
}

.subpage .content[data-tab] {
  padding: 20px 20px 15px 40px;
  margin: 0 0 0 250px;
  border-left: 1px solid #999;
}

.subpage dt {
  width: 180px;
  float: left;
}

.subpage dd {
  display: block;
}

.subpage dt,
.subpage dd {
  margin-bottom: 5px;
}

.subpage .single-button-form,
.single-button-form button {
  margin-top: 0;
}

.subpage textarea,
.subpage select,
.subpage input[type=text],
.subpage input[type=password],
.subpage input[type=email] {
  width: 300px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.subpage select,
.subpage input[type=text],
.subpage input[type=password],
.subpage input[type=email] {
  height: 24px;
}


.checkbox-row {
  background-color: #f3f3f3;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  padding: 5px;
}

.checkbox-row:hover {
  background-color: rgba(72, 123, 255, 0.15);
}

.checkbox-row input {
  vertical-align: middle;
}

.checkbox-row.loading {
  background-image: url(/img/icn_loading.gif);
  background-repeat: no-repeat;
  background-position: 96% center;
}





h3.belongs-to-list {
  color: #fff;
  font-weight: normal;
  padding: 0 7px;
  font-size: 13px;
  line-height: 30px;
  background: rgb(72, 123, 255);
  background: -moz-linear-gradient(top, rgba(72, 123, 255, 0.6), rgba(72, 123, 255, 1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(72, 123, 255, 0.6)), to(rgba(72, 123, 255, 1)));
  margin-bottom: -1px;
  border: 0;
  position: relative;
}

.list {
  overflow-y: scroll;
  border: 1px #6D95FF solid;
  background: #fff;
  padding: 5px 0;
  min-height: 150px;
  max-height: 150px;
  margin-bottom: 15px;
}

.list li {
  margin-bottom: 1px;
  line-height: 24px;
  padding-left: 30px;
  padding-right: 5px;
  position: relative;
}

.list li:hover,
.list li:focus {
  background: #eee;
}

.list img {
  top: 2px;
  left: 5px;
  position: absolute;
}

.list .action {
  float: right;
  padding-left: 5px;
  margin: 2px 0 0 5px;
  color: #487bff;
  line-height: 20px;
  border-left: 1px solid #ccc;
}

.list .action:last-of-type {
  border-left: 0;
}

a.loading {
  padding-right: 20px;
  background-image: url(/img/icn_loading.gif);
  background-repeat: no-repeat;
  background-position: right center;
  color: #999 !important;
  text-decoration: none;
}

.loading-hint {
  color: #999;
  display: none;
  margin: 0;
}






.subpage .form-field {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}

.subpage .form-field > label {
  float: left;
  padding-top: 3px;
  width: 180px;
}

.subpage .form-field.short > label {
  width: 80px;
}

.subpage .form-field + button {
  margin-top: 5px;
}






.promotion-link {
  color: #487bff;
}

form.role-selector button {
  margin-top: 10px;
}