/* =TEXT EXTENSION
=========================================================================== */
#text-extension-preview {
  height: 0px;
  clear: both;
  opacity: 0;
  display: none;
  position: relative;
  margin-top: 2px;
  border: 1px dotted #999;
  padding: 4px 50px 4px 4px;
}

#text-extension-preview .remove {
  position: absolute;
  display: block;
  line-height: 9px;
  top: 4px;
  right: 4px;
  font-size: 9px;
  text-decoration: none;
}

#text-extension-preview .remove strong {
  color: #666;
}

#text-extension-preview.loading-bar {
  background: url(/img/loading_bar.gif) no-repeat center center;
}

.text-extension-results {
  line-height: 1.3;
  font-size: 10px; /* Ensure a unique font-size */
  word-wrap: break-word;
}

.text-extension-results a {
  text-decoration: none;
}

.text-extension-results h4 {
  display: none;
  padding: 3px 5px;
  color: #000;
  border-bottom: 1px solid #666;
  background-color: #ccc;
  position: relative;
}

.text-extension-results:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.text-extension-results .title,
.text-extension-results .description,
.text-extension-results .domain {
  display: inline;
}

.text-extension-results .domain {
  line-height: 2;
}

.text-extension-results .title:after,
.text-extension-results .domain:after {
  content: "\A";
  white-space: pre;
}

.text-extension-results .title {
  color: #000;
  font-weight: bold;
}

.text-extension-results .description {
  color: #666;
}

.text-extension-results .domain {
  color: #999;
}

.text-extension-results .media {
  margin: 0 9px 0 0;
  float: left;
  display: block;
  position: relative;
}

.text-extension-results .media a {
  display: block;
  line-height: 0;
}

.text-extension-results .media img {
  background: #fff url(/img/screenshot_fetching.gif) center center no-repeat;
}

.text-extension-results .media img.loaded {
  background: #fff;
}

.text-extension-results .media a:hover img {
  box-shadow: 0 0 5px #666;
}

.meep .text-extension-results {
  margin: 8px 12px 4px 0;
}

/* =IFRAME (Slideshare, Maps...)
--------------------------------------------------------------------------- */
.text-extension-results .media iframe {
  border: 1px solid #999;
  width: 649px;
  height: 200px;
}

.text-extension-results.YouTube .media iframe,
.text-extension-results.Slideshare .media iframe {
  height: 280px;
}

#text-extension-preview .text-extension-results .media iframe {
  width: 630px;
}

.text-extension-results.Maps .media a:after {
  content: "" !important;
  background-image: url(/img/icn_magnifier.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* =VIDEO/FLASH TEXT EXTENSION (Vimeo, Grooveshark, ...)
--------------------------------------------------------------------------- */
.text-extension-results.flash object {
  height: 280px;
  width: 651px;
  margin-bottom: 5px;
}

#text-extension-preview .text-extension-results.flash object {
  width: 630px;
  height: 280px;
}

.text-extension-results.flash object[data^='http://player.soundcloud.com'] {
  height: 81px !important;
}

.text-extension-results.flash object[data^='http://listen.grooveshark.com'] {
  height: 100px !important;
  width: 100px !important;
}

.text-extension-results.flash .media a:after,
.text-extension-results.iframe .media a:after {
  content: "\25BA";
  cursor: pointer;
  font-family: Arial;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  position: absolute;
  right: -2px;
  bottom: -2px;
  height: 30px;
  width: 30px;
  margin: -15px 0 0 -15px;
  line-height: 30px;
  text-indent: 4px;
  vertical-align: middle;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 2px 1px #666;
}

.text-extension-results .media .media-close-link {
  position: absolute;
  top: -16px;
  right: -16px;
  line-height: 23px;
  z-index: 5;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
}

.text-extension-results .media .media-close-link:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.text-extension-results .media .media-close-link:after {
  display: none;
}

.text-extension-results.flash .media a:hover:after,
.text-extension-results.iframe .media a:hover:after {
  background-color: #487bff;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

.text-extension-results.flash .media a:active:after,
.text-extension-results.iframe .media a:active:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

/* =IMAGES TEXT EXTENSIONS
--------------------------------------------------------------------------- */
.text-extension-results.images figcaption {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #ccc;
  background: rgba(0, 0, 0, 0.075);
  font-size: 10px;
  padding: 4px;
  display: block;
}

.text-extension-results.image .media a,
.text-extension-results.images .media a {
  height: 75px;
}

.text-extension-results.images .media figure {
  position: relative;
  float: left;
  margin: 0 5px 5px 0;
  display: block;
}

.text-extension-results.images img:hover {
  background: #ccc;
}

.text-extension-results.images .domain,
.text-extension-results.images .description,
.text-extension-results.images .title {
  display: none;
}

/* =CODE TEXT EXTENSION
--------------------------------------------------------------------------- */
.text-extension-results.code .media,
.text-extension-results.codes .media {
  float: none;
  margin-bottom: 4px;
}

.text-extension-results.code .media strong,
.text-extension-results.codes .media strong {
  padding-left: 21px;
  background: transparent url(/img/icn_code.png) no-repeat 0 0;
  display: block;
  width: 100%;
  white-space: nowrap;
  line-height: 16px;
  margin-bottom: 2px;
}

.text-extension-results.code .media strong a,
.text-extension-results.codes .media strong a {
  display: inline;
  margin-left: 5px;
  cursor: pointer;
}


/* =GITHUB COMMIT TEXT EXTENSION
--------------------------------------------------------------------------- */
.text-extension-results.GithubCommit .media strong {
  background: transparent url(/img/github_file_modes.png) no-repeat 0 0;
}

.text-extension-results.GithubCommit .media strong a {
  font-weight: normal;
}

.text-extension-results.GithubCommit .media div.added strong {
  background-position: 0 0;
}

.text-extension-results.GithubCommit .media div.modified strong {
  background-position: 0 -40px;
}

.text-extension-results.GithubCommit .media div.removed strong {
  background-position: 0 -80px;
}

/* =MEEP TEXT EXTENSION
--------------------------------------------------------------------------- */
.text-extension-results.Meep {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 1px 2px #999;
  padding: 6px 8px;
}

.text-extension-results.Meep .domain {
  display: none;
}

.text-extension-results.Meep .title {
  margin: 0;
  float: left;
  min-width: 0;
  margin-right: 6px;
}

.text-extension-results.Meep .description {
  color: #000;
}

.text-extension-results.Meep .media {
  margin-right: 4px;
}

.text-extension-results.Meep img {
  outline: 2px solid #fff;
  width: 24px !important;
  height: 24px !important;
  box-shadow: none !important;
}

.text-extension-results.Meep .media,
.text-extension-results.Meep .media a {
  width: 24px !important;
  height: 24px !important;
}

.remote-channel .text-extension-results.Meep a {
  cursor: default;
}

/* =FILES TEXT EXTENSION
------------------------------------------------------------------------------ */
.text-extension-results.files .domain,
.text-extension-results.files .title,
.text-extension-results.files .description {
  display: none;
}

.text-extension-results.files .media {
  float: none;
}

.text-extension-results.files .media li {
  margin-top: 5px;
}

.text-extension-results.files .media li:first-child {
  margin-top: 0;
}

.text-extension-results.files .media a {
  white-space: nowrap;
  display: inline-block;
  font-size: 12px;
  line-height: 32px;
}