.widget {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.widget:last-child {
  margin-bottom: 0;
}

.widget h3 {
  color: #fff;
  font-weight: normal;
  padding: 0 7px;
  font-size: 13px;
  line-height: 27px;
}

.widget h3 a {
  text-decoration: none;
  color: #fff;
}

.widget .title,
.widget .title a {
  display: inline;
  color: #fff;
}

.widget .count {
  display: inline;
  color: rgba(255, 255, 255, 0.5);
}

.widget li > * {
  display: block;
  color: #333;
  overflow: hidden;
  padding-left: 26px;
  line-height: 26px;
  margin: 0 0 1px;
  white-space: nowrap;
  text-decoration: none;
}

.widget li a:hover,
.widget li a:focus {
  background-color: rgba(0, 0, 0, 0.06) !important;
}

.widget li.error > * {
  color: red;
  opacity: 0.5;
}

.widget ul {
  border: 1px #6D95FF solid;
  overflow-y: auto;
  overflow-x: hidden;
  height: 350px;
  min-height: 50px;
  padding: 4px 0 3px;
}

.widget .resize {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: block;
  font-size: 7px;
  line-height: 10px;
  height: 10px;
  text-align: center;
  background: #f1f1f1;
  cursor: row-resize;
}

.widget .resize:after {
  content: ":::::::::::::::::";
}

.widget.loading:after {
  position: absolute;
  top: 28px;
  left: 0;
  bottom: 11px;
  width: 1000px;
  content: " ";
  background-color: rgba(255, 255, 255, 0.3);
}

.widget .loading-hint {
  display: none;
}

.widget.loading .loading-hint {
  display: inline;
  color: rgba(255, 255, 255, 0.3);
}

/*--------------------------------- USER WIDGET ---------------------------------*/
#user-widget li a {
  color: #999;
  background-image: url(/img/spr_user_status.png);
  background-repeat: no-repeat;
  background-position: 4px -16px;
}

#user-widget li.online a {
  background-position: 4px 4px;
  color: #000;
}

#user-widget li.stranger a {
  color: #999;
}

#user-widget li.myself.online a {
  color: #000;
}

#user-widget li.typing a {
  background-position: 5px -42px;
}

#user-widget li.myself a {
  font-weight: bold;
}

#user-widget li img {
  display: none;
  position: absolute;
  right: 3px;
  margin-top: 3px;
}

#user-widget li a:hover img,
#user-widget li a:focus img {
  display: inline;
}

#user-widget li {
  position: relative;
}

/*--------------------------------- MY WIDGET ---------------------------------*/
#my-widget {
  padding: 2px 0 5px;
  border-bottom: 1px solid #8C8C8C;
  margin-bottom: 20px;
  position: relative;
  padding-left: 45px;
  height: 36px;
}

#my-widget h4 {
  display: block;
}

#my-widget h4 a {
  color: #000;
}

#my-widget a {
  color: #666;
  text-decoration: none;
}

#my-widget a:hover {
  color: #333;
}

#my-widget .avatar {
  position: absolute;
  left: 0;
  top: 0;
}

#my-widget nav > ul {
  font-size: 0;
}

#my-widget nav > ul > li {
  font-size: 11px;
  display: inline-block;
  position: relative;
  margin-left: 14px;
  padding-left: 4px;
}

#my-widget nav > ul > li:first-child {
  margin: 0;
  padding: 0;
}

#my-widget nav > ul > li:before {
  color: #666;
  position: absolute;
  width: 18px;
  display: block;
  text-align: center;
  content: "\2022";
  left: -14px;
  top: 0;
}

#my-widget nav > ul > li:first-child:before {
  display: none;
}

#my-widget .settings {
  padding-right: 15px;
}

#my-widget .settings:hover {
  background: #eee;
}

#my-widget .settings:hover:after {
  border-top: 4px solid #333;
}

#my-widget .settings:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 7px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 4px solid #666;
}

#my-widget .settings ul {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  background: #fff;
  min-width: 140px;
  border: 1px solid #ccc;
}

#my-widget .settings:hover ul {
  display: block;
}

#my-widget .settings li {
  cursor: pointer;
  color: #666;
  padding: 4px 6px;
  border-top: 1px solid #ccc;
}

#my-widget .settings li:first-child {
  border: 0;
}

#my-widget .settings .on {
  color: #00cc00;
}

#my-widget .settings .off {
  color: #e75c79;
}