.widget {
  background: #ecf1fe;
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.widget h3 {
  padding: 15px 15px 10px 15px;
  color: #000;
  font-size: 14px;
}

.widget h3 a {
  text-decoration: none;
  color: #000;
}

.widget .title,
.widget .title a {
  color: #000;
  display: inline-block;
}

.widget .count {
  display: inline;
  font-weight: normal;
  color: #999;
}

.widget .widget-list a {
  display: block;
  color: #000;
  overflow: hidden;
  padding-left: 38px;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
}

.widget .widget-list a:hover,
.widget .widget-list a:focus,
.widget .widget-list .context-menu-opened {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.widget .widget-list {
  padding-top: 1px;
  margin-bottom: 15px;
  margin-right: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 50px;
  height: 140px;
  max-height: 400px;
}

.widget .resize {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: block;
  font-size: 7px;
  line-height: 20px;
  height: 20px;
  text-align: center;
  cursor: row-resize;
}

.widget .resize:after {
  content: "::::::::::::::::::::::::::::::";
}

.widget .loading-hint {
  display: none;
}

.widget.loading .loading-hint {
  font-weight: normal;
  display: inline;
  color: #ccc;
  color: rgba(0, 0, 0, 0.3);
}

/*--------------------------------- USER WIDGET ---------------------------------*/

#user-widget {
  margin-top: 147px;
}

#my-widget + #user-widget {
  margin-top: 42px;
}

.getting-started + #user-widget {
  margin-top: 0;
}

#user-widget li a {
  color: #999;
  background-image: url(/img/spr_user_status.png);
  background-repeat: no-repeat;
  background-position: 13px -14px;
}

#user-widget li.online a {
  background-position: 13px 6px;
  color: #000;
}

#user-widget li.stranger a {
  color: #999;
}

#user-widget li.myself.online a {
  color: #000;
}

#user-widget li.typing a {
  background-position: 14px -40px;
}

#user-widget li.myself a {
  font-weight: bold;
}

#user-widget li img {
  display: none;
  position: absolute;
  right: 5px;
  margin-top: 5px;
}

#user-widget li a:hover img,
#user-widget li a:focus img {
  display: inline;
}

#user-widget li {
  position: relative;
}

#user-widget .verifications {
  display: none;
}

#user-widget .verifications a {
  display: block;
  background: #F7F1A8;
  line-height: 30px;
  font-size: 11px;
  text-align: center;
  color: #333;
}

/*--------------------------------- MY WIDGET ---------------------------------*/
#my-widget {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  height: 85px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 5px 15px 80px;
  border-bottom: 1px solid #8C8C8C;
  position: relative;
}

#my-widget h4 {
  display: block;
}

#my-widget h4 a {
  color: #000;
}

#my-widget a {
  color: #000;
  text-decoration: none;
}

#my-widget .avatar {
  position: absolute;
  left: 15px;
  top: 15px;
  border: 1px solid #999;
}

#my-widget .avatar img {
  float: left;
}

#my-widget nav > ul {
  font-size: 0;
}

#my-widget nav > ul > li {
  font-size: 11px;
  display: inline-block;
  position: relative;
  margin-left: 12px;
  padding-left: 2px;
}

#my-widget nav > ul > li:first-child {
  margin: 0;
  padding: 0;
}

#my-widget nav > ul > li:before {
  color: #666;
  position: absolute;
  width: 18px;
  display: block;
  text-align: center;
  content: "\2022";
  left: -14px;
  top: 0;
}

#my-widget nav > ul > li:first-child:before {
  display: none;
}

#my-widget .settings {
  padding-right: 15px;
}

#my-widget .settings:hover {
  background: rgba(0, 0, 0, 0.1);
}

#my-widget .settings ul {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  background: #fff;
  min-width: 150px;
  border: 1px solid #ccc;
}

#my-widget .settings:hover ul {
  display: block;
}

#my-widget .settings li {
  cursor: pointer;
  color: #666;
  padding: 4px 6px;
  border-top: 1px solid #ccc;
}

#my-widget .settings li:first-child {
  border: 0;
}

#my-widget .settings .on {
  color: #00cc00;
}

#my-widget .settings .off {
  color: #e75c79;
}

/*--------------------------------- FILES WIDGET ---------------------------------*/
#file-widget .widget-list {
  height: auto;
}

#file-widget li {
  padding: 4px 8px 4px 12px;
  cursor: pointer;
}

#file-widget li a:hover {
  background-color: transparent !important;
}

#file-widget li:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

#file-widget li a {
  overflow: hidden;
  line-height: 1.4;
  text-overflow: ellipsis;
}

#file-widget li .file-modified {
  font-size: 10px;
  color: #999;
}

.widget-list-container {
  position: relative;
}

#file-widget-drop-area {
  cursor: pointer;
  opacity: 0.2;
  filter: Alpha(Opacity=20);
  position: absolute;
  bottom: 0;
  right: 16px;
  left: 15px;
  top: 0;
  background: #ddd;
  color: #000;
}

.supports-drag-and-drop #file-widget-drop-area {
  border: 3px dashed #666;
}

.loading #file-widget-drop-area {
  display: none;
}

#file-widget-drop-area span {
  position: absolute;
  text-decoration: none;
  color: #000;
  top: 50%;
  line-height: 24px;
  margin-top: -12px;
  text-align: center;
  text-decoration: underline;
  left: 5px;
  right: 5px;
}

.supports-drag-and-drop #file-widget-drop-area span {
  text-decoration: none;
}

.dragover-possible #file-widget-drop-area,
.supports-drag-and-drop #file-widget-drop-area:hover {
  border: 3px dashed #333;
  background: #ccc;
}

#file-widget.dragover-possible {
  background: #ebfaeb;
}

#file-widget.dragover {
  background: #d9f8d9;
}

#file-widget .show-all {
  display: none;
  color: #999;
  margin: -5px 0 5px 15px;
}