<script type="protonet/template" id="channel-link">

  <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d">
    <div class="ui-btn-inner ui-li">
      <div class="ui-btn-text">
        <a href="/#channel-#{id}" data-transition="slide" class="channel-link ui-link-inherit">
          <time class="ui-li-aside ui-li-desc" title="#{created_at}"></time>
          <h3 class="ui-li-heading">#{name}</h3>
          <p class="ui-icon-desc ui-li-desc">
            <strong>#{author}:</strong>
            #{message}
          </p>
        </a>
      </div>
      <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
    </div>
  </li>

</script>