<script type="protonet/template" id="channel">
  <div data-role="page" id="channel-#{id}" class="channel-page">

    <div data-role="header">
      <a href="#navigation" data-icon="home" class="ui-btn-left" data-direction="reverse" data-transition="slide" data-iconpos="notext">Navigation</a>
      <a href="#channel-#{id}/files" data-icon="star" class="ui-btn-right" data-iconpos="notext">Files</a>
      <a href="#channel-#{id}/user" data-icon="grid" class="userlist ui-btn-right" data-iconpos="notext">User</a>
      <h1>#{name}</h1>
    </div>

    <div id="scroller-#{id}" class="scroller content">
      <div >
        <ul class="timeline ui-listview" data-role="none"></ul>
      </div>
    </div>

    <div data-role="footer">
      <form action="/meeps" method="post" class="meep_form" data-ajax="false">
        <div class="field-contains">
          <textarea cols="20" rows="4" name="textarea" class="ui-body-d ui-corner-all ui-shadow-inset" data-role="none"></textarea>
          <button type="submit" name="submit" value="submit" data-theme="b">
            Submit
          </button>
        </div>
      </form>
    </div>

  </div>
</script>