<script type="protonet/template" id="channel-link">
  <li>
    <a link="#channel-#{id}" class="channel-link">#{name}<span class="ui-li-count ui-btn-corner-all" style="display:none"></span>
    </a>
  </li>
</script>