<script type="protonet/template" id="meep">
  <li class="meep">
    <div class="bubble">
      <img src="#{avatar}" alt="#{author}" class="author"/>
      <p>#{message}</p>
      <span>#{author} <time title="#{created_at}"></time></span>
    </div>
  </li>
</script>