<script type="protonet/template" id="meep">
  <li class="meep">
    <div class="bubble">
      <div class="author">
        <img src="#{avatar}" alt="#{author}" />
        <span>#{author}</span>
      </div>
      <div>
      <article>#{message}</article>
      </div>
      <time title="#{created_at}"></time>
    </div>
  </li>
</script>