<script type="protonet/template" id="channel_navigation">
<div data-role="page" id="navigation">

  <div data-role="header">
    <a href="/account" data-icon="gear" class="ui-btn-right" data-transition="flip">Account</a>
    <h1>protonet</h1>
  </div>

  <div data-role="content" >  
    <ul data-role="listview" id="channel_list" data-theme="d">
    </ul>
  </div>

</div>
</script>
