<script type="protonet/template" id="text-extension-template">
  <output class="text-extension-results">
    <span class="media"></span>
    <a href="#" class="title link" target="_blank" rel="external"></a>
    <a href="#" class="domain link" target="_blank" rel="external"></a>
    <a href="#" class="description link" target="_blank" rel="external"></a>
  </output>
</script>