<script type="protonet/template" id="userlist">
  <div class="user-list" data-role="none">
    <div class="scroller">
      <ul class="online"></ul>
      <ul class="offline"></ul>
    </div>
  </div>
</script>