<li>
  <article>
    #{converted_message}
    <output class="text-extension-container"></output>
    <p class="author">
      #{author}
      <time datetime="#{created_at}" title="#{created_at}">#{created_at}</time>
    </p>
  </article>
  <div class="avatar">
    <img src="#{avatar}" width="36" height="36" />
  </div>
</li>
