<li data-meep-id="#{id}" data-meep-author="#{author}" data-meep-created-at="#{created_at}">
  <article>
    #{message}
    <output class="text-extension-container"></output>
    <p class="author">
      #{author}
      <time datetime="#{created_at}" class="pretty-date">#{created_at}</time>
    </p>
  </article>
  <div class="avatar">
    <img src="#{avatar}" width="36" height="36" />
  </div>
</li>
