<div class="media"></div>
<p>
  <a href="#" class="title link" target="_blank"></a>
  <a href="#" class="domain link" target="_blank"></a>
  <a href="#" class="description link" target="_blank"></a>
</p>