<div class="text-extension-results">
  <h3>Attachment: <span class="type"></span></h3>
  <ul>
    <li class="media"></li>
    <li><a href="#" class="title link" target="_blank"></a></li>
    <li><a href="#" class="description link" target="_blank"></a></li>
  </ul>
</div>