<ul class="user-messages" id="messages-for-audience-<%= audience.id %>">
  <% tweets.each do |t| %>
    <li>
      <span class="message-usericon">
        <img src="/img/userpicture.jpg" width="47" height="47" alt="">
      </span>
      <p>
        <span class="message-info">
          <span class="message-author"><%= t.author %></span>
          <span class="message-date">(<%= t.created_at %>)</span>
        </span>
        <%= h t.message %>
      </p>
    </li>
  <% end %>
</ul>
