<ul class="channel-teaser">
  <%- node.global_channels.each do |channel| %>
    <li>
      <%= link_to show_global_channel_path(:uuid => channel.uuid, :node => { :uuid => node.uuid, :url => node.url }), :class => global_channel_class(node, channel) do %>
        <span class="fix-firefox3">
          @<h4 class="reply channel"><%= channel.name %></h4>
          <p><%= channel_description(channel, 140) %></p>
        </span>
      <%- end %>
    </li>
  <%- end %>
  <%- if node.global_channels.empty? %>
    <p class="hint">There are no global channels available.</p>
  <%- end %>
</ul>