<!DOCTYPE html>
<html>
<head>
  <title>protonet captive-portal browser check</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta charset="UTF-8">
  <meta property="og:image" content="/img/apple-touch-icon_r2.png">
  <meta property="og:title" content="<%= SystemPreferences.browser_title %>">
  <link rel="shortcut icon" href="/img/favicon_r2.png" type="image/png">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon_r2.png">
  <link rel="fluid-icon" href="/img/apple-touch-icon_r2.png" title="<%= SystemPreferences.browser_title %>">
  <link rel="image_src" href="/img/apple-touch-icon_r2.png" type="image/png">
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
  <script type="text/javascript">
  	document.location="http://<%= address_for_current_interface + (":#{configatron.web_app_port}" unless Rails.env.production?) %>/";
  </script>
</head>

<body>
  <div class="dialog">
    <h1>This page is a check to see wether this request is being sent from a browser.</h1>
    <p>You will be redirected to <a href="http://<%= address_for_current_interface + (":#{configatron.web_app_port}" unless Rails.env.production?) %>/">here</a>.</p>
  </div>
</body>
</html>
