.invitations-page .status-box{
  margin-top: -35px;
  background: #EEE;
  display: inline-block;
  padding: 4px;
  float: right;
}

.invitations-new-page h3.belongs-to-list{
  margin: 0 0 0 180px;
  width:288px;
}

.invitations-page .channels ul{
  padding:0;
  margin: 0 0 4px 180px;
  overflow-y:auto;
  max-height:150px;
  width:300px;
  border: 1px #6D95FF solid;
}

.invitations-page #invitation_message{
  width: 100%;
  height: 420px;
}

.new_invitation .field_with_erros{
  display:inline;
}
.new_invitation .field_with_errors label{
  float: left;
  padding-top: 3px;
  width: 180px;
}
.new_invitation .field_with_errors input{
  border-color: #f00 #fcc #fcc #f00;
}

#wysihtml5-toolbar{
  margin: 25px 0 5px;
  position:relative;
  
}
#wysihtml5-toolbar a.icon{
  text-decoration:none;
  text-indent:-999px;
  display:inline-block;
  width:20px;
  height:20px;
  background-image: url(/img/wysihtml5/icons.png);
  margin:1px;
}
#wysihtml5-toolbar a.icon:hover{
  border:1px solid #aaa;
  margin:0;
}
#wysihtml5-toolbar a[data-wysihtml5-command=bold]{ background-position: 0 0px; }
#wysihtml5-toolbar a[data-wysihtml5-command=italic]{ background-position: -20px 0px; }
#wysihtml5-toolbar a[data-wysihtml5-command=ol]{ background-position: -60px 0px; }
#wysihtml5-toolbar a[data-wysihtml5-action=change_view]{ background-position: -80px 0px; }
#wysihtml5-toolbar a[data-wysihtml5-command=undo]{ background-position: -120px 0px; }
#wysihtml5-toolbar a[data-wysihtml5-command=redo]{ background-position: -100px 0px; }

#wysihtml5-toolbar a.link{
  position:relative;
  top:2px;
}