.subpage aside .network-separator {
  padding: 20px 10px 5px 30px;
  text-align: left;
  background: #999;
  color: #fff;
  margin-top: 20px;
  border-bottom: 1px solid #fff;
}

.subpage aside .network-separator strong {
  text-shadow: none;
}

.subpage aside .subscribed a:before {
  content: "";
  left: 0;
  top: 0;
  bottom: 1px;
  width: 4px;
  position: absolute;
  border-right: 1px solid #fff;
  background: #00cc00;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
}

.subpage aside .subscribed a:active:before {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
}

.channel-teaser > li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  min-width: 200px;
  margin-bottom: 10px;
}

.channel-teaser a {
  color: #000;
  display: block;
  padding: 10px;
  min-height: 70px;
  border-bottom: 1px solid #999;
  text-decoration: none;
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
}

.channel-teaser .channel-icons {
  display: inline-block;
  margin: 0 0 0 5px;
}

.channel-teaser a:active {
  background-image: -moz-linear-gradient(top, #ddd, #fff);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#fff));
}

.channel-teaser a:hover h4 {
  background-color: #487BFF;
}

.channel-teaser .official-channel {
  padding-right: 80px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(/img/founder.png),
                    -moz-linear-gradient(top, #fff, #DAE4FF);
  background-image: url(/img/founder.png),
                    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#DAE4FF));
}

.channel-teaser .official-channel:active {
  background-image: url(/img/founder.png),
                    -moz-linear-gradient(top, #DAE4FF, #fff);
  background-image: url(/img/founder.png),
                    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DAE4FF), to(#fff));
}

.channel-teaser a p {
  font-size: 10px;
  margin: 5px 0 0;
  width: 200px;
}

.channel-icons {
  margin-top: 6px;
  display: block;
}

.channel-icons li {
  cursor: help;
  opacity: 0.75;
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/img/spr_channel_icons.png) no-repeat 0 0;
}

.selected .channel-icons {
  display: none;
}

.channel-icons .subscribed {
  background-position: 0 -50px;
}

.channel-icons .private {
  background-position: 0 -25px;
}

.channel-icons .count {
  width: auto;
  color: #000;
  font-weight: bold;
  height: 15px;
  padding-top: 1px;
  line-height: 15px;
  padding-left: 18px;
}

.channels-page input[name=search_term] {
  width: 180px;
}

.channels-page  h2{
  margin-bottom:25px;
}

.channels-page ul.channels-list {
  list-style:none;
  overflow:hidden;
  margin-bottom: 30px;
} 

.channels-page ul.channels-list li{
  float: left;
  position: relative;
  width: 130px;
  height: 60px;
  margin: 0 5px 25px 0;
  padding-left: 70px;
}

.channels-page ul.channels-list a{
  text-decoration: none;
  display: block;
  height: 48px;
}

.channels-page ul.channels-list strong{
  display: block;
  word-wrap: break-word;
}

.channels-page ul.channels-list img {
  opacity: 0.1;
}

.channels-page ul.channels-list img.subscribed{
  opacity: 1;
}

.channels-page ul.channels-list a span {
  border: 1px solid #CCC;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 0;
  height: 48px;
  width: 48px;
  -moz-box-shadow: 5px 5px 0px #eee;
  -webkit-box-shadow: 5px 5px 0px #eee;
  box-shadow: 5px 5px 0px #eee;
}

.add-channel-link {
  display: block;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  color: #487bff;
  font-size: 14px;
}