.files-page .table-wrapper {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #aaa;
  outline: 6px solid #eee;
  position: relative;
}

.files-page table {
  width: 100%;
}

.files-page .file-name {
  width: 50%;
  white-space: nowrap;
}

.files-page th.file-name {
  padding-left: 48px;
}

.files-page .file-name,
.files-page .file-modified {
  text-align: left;
}

.files-page .file-size {
  text-align: right;
}

.files-page td, .files-page th {
  vertical-align: middle;
  padding: 8px;
}

.files-page tr {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 26px;
  border-bottom: 1px solid #fff;
}

.files-page tr:nth-child(even) {
  background: #eee;
}

.files-page tr.focus {
  background: rgba(72, 123, 255, 0.3);
}

.files-page tr.focus,
.files-page tr.focus a {
  color: #000;
}

.files-page th {
  text-shadow: 0 1px 1px #fff;
}

.files-page thead tr {
  border: 0;
  border-bottom: 1px solid #aaa;
  background-color: #ddd;
  background-image: -o-linear-gradient(bottom, #ddd, #fff);
  background-image: -moz-linear-gradient(bottom, #ddd, #fff);
  background-image: -webkit-linear-gradient(bottom, #ddd, #fff);
  background-image: -ms-linear-gradient(bottom, #ddd, #fff);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #ddd),
    color-stop(1, #fff)
  );
  background-image: linear-gradient(bottom, #ddd, #fff);
}

.files-page .file,
.files-page .folder {
  outline: 0;
  cursor: default;
}

.files-page h2 {
  margin-bottom: 30px;
}

.files-page .hint {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}

.files-page .address-bar {
  display: inline-block;
  font-weight: normal;
}

.files-page .address-bar a {
  text-decoration: none;
  color: #999;
}

.files-page .address-bar a:hover,
.files-page .address-bar a:last-child {
  color: #000;
}