.meeps-page {
  padding-bottom: 0;
}

.meeps-page .content {
  padding: 0 50px 0 50px;
  position: relative;
  overflow: hidden;
}

.meeps-page .meeps {
  width: 630px;
  position: absolute;
  top: 50%;
}

.meeps-page .meep {
  margin-right: 0;
}

.meeps-page .meep .avatar {
  box-shadow: none;
}

.meeps-page .border {
  height: 90px;
  border: 7px solid rgb(72, 123, 255);
  border-radius: 1.2em;
  overflow: visible !important; /* jquery will set this to hidden while animating, we don't want this */
  position: absolute;
  margin-left: -37px;
  top: 50%;
  padding: 7px;
  margin-top: -70px;
  width: 653px;
  background: #fff;
}

.meeps-page .border.loading {
  background: transparent url(/img/icn_loading_big.gif) center center no-repeat;
}

.meeps-page h2 {
  margin-bottom: 8px;
}

.meeps-page h2 img {
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  margin-top: -2px;
  vertical-align: middle;
}

.meeps-page .share {
  background: transparent url(/img/share_arrow.png) 0 0 no-repeat;
  right: -7px;
  bottom: -13px;
  z-index: 10;
  position: absolute;
  width: 100px;
  height: 40px;
}

.meeps-page .next,
.meeps-page .previous {
  position: absolute;
  width: 0;
  height: 0;
  right: -50px;
  top: 50%;
  border-style: solid;
  border-width: 20px;
}

.meeps-page .next {
  border-color: transparent transparent #999 transparent;
  margin-top: -40px;
}

.meeps-page .next:hover,
.meeps-page .next.active {
  border-color: transparent transparent #000 transparent;
}

.meeps-page .previous {
  border-color: #999 transparent transparent transparent;
  margin-top: 5px;
}

.meeps-page .previous:hover,
.meeps-page .previous.active {
  border-color: #000 transparent transparent transparent;
}

.meeps-page .meep {
  opacity: 0.5;
}

.meeps-page .meep:not(.selected) a {
  cursor: default !important;
}

.meeps-page .meep .meep-action-link,
.meeps-page .meep:before {
  display: none !important;
}

.meeps-page .selected.meep {
  z-index: 5;
  opacity: 1;
}

.meeps-page input {
  border: 1px inset #999;
  color: #333;
  font-size: 10px;
  width: 190px;
  background: #ddd;
  height: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 0;
}

.meeps-page .info {
  right: 0;
  position: absolute;
  z-index: 11;
  left: -11px;
  right: -11px;
  top: 10px;
  padding: 20px 30px;
}

.meeps-page .info p {
  margin: 0;
}

.meeps-page .reply-from-channel {
  display: none;
}