.preferences-page input[name='preferences[publish_to_web_name]'] {
  width: 140px;
  padding: 0;
}

.preferences-page h3 i {
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}

.preferences-page .status-box {
  margin-top: -35px;
  background: #eee;
  display: inline-block;
  padding: 4px;
  float: right;
}

.preferences-page .on {
  color: green;
}

.preferences-page .off {
  color: red;
}

.preferences-page .reload-link {
  overflow: hidden;
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(/img/icn_reload.png) no-repeat 0 0;
  margin: 0 5px;
}

.preferences-page .reload-link.reloading {
  cursor: default;
  background: url(/img/icn_loading.gif) no-repeat 0 0;
}

.preferences-page input[name="target"] {
  width: 82px;
}


#show-release-update-progress,
#send-to-protonet-support {
  display: none;
}
#send-to-protonet-support {
  display: none;
  position: absolute;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
  margin: 0;
}

#send-to-protonet-support:active {
  margin: 1px 0 0 1px;
}

/* TODO this should move over to css/lib/quakeStyleConsole.css */
.quake-style-console {
  background-color: rgba(0, 0, 0, 0.9);
  color: #00cc00;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  top: 44px;
  display: none;
}
.quake-style-console-content {
  overflow: auto;
  white-space: pre-wrap;
  height: 100%;
  padding: 0 30px 0 30px;
}
.quake-style-console ::-webkit-scrollbar-thumb {
  background: #aaa;
  border: 2px solid #000;
  border-radius: 4px;
}
.console-box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
