.preferences-page input[name='preferences[publish_to_web_name]'] {
  width: 140px;
  padding: 0;
}

.preferences-page h3 i {
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}

.preferences-page .status-box {
  margin-top: -35px;
  background: #eee;
  display: inline-block;
  padding: 4px;
  float: right;
}

.preferences-page .on {
  color: green;
}

.preferences-page .off {
  color: red;
}

.preferences-page .reload-link {
  overflow: hidden;
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(/img/icn_reload.png) no-repeat 0 0;
  margin: 0 5px;
}

.preferences-page .reload-link.reloading {
  cursor: default;
  background: url(/img/icn_loading.gif) no-repeat 0 0;
}

.preferences-page input[name="target"] {
  width: 82px;
}


#show_release_update_progress {
	display: none;
}
/* TODO this could be needed elsewhere. where to put it? */
.console_output {
	background-color: rgba(0,0,0,0.8);
	color: green;
	font-family: "Lucida Console";
	height: 10px;
	width: 100%;
	padding: 30px;
	position: fixed;
	z-index: 1000;
	top: -70px;
	left: 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
}
