.search-page h1 {
  padding: 0;
  text-align: center;
}

.search-page output {
  margin: 0 0 0 -10px;
}

.search-page input[type=search] {
  width: 616px;
  background-position: 624px;
}

.loading.search-page input[type=search] {
  background-image: url(/img/icn_loading.gif);
}

.loading.search-page .meeps {
  opacity: 0.6;
}

.search-page .no-meeps-available {
  display: block;
}

.search-page .meeps {
  margin-left: -20px;
}

.search-page .meep {
  margin-right: 0;
}

.modal-window .search-page .meep {
  margin-left: 75px;
}