.snapshots-page {
  text-align: center;
  padding: 20px;
}

.snapshots-page h1 {
  text-align: left;
}

.snapshots-page output {
  background: #000;
  border: 3px solid #000;
  height: 380px;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.snapshots-page output > div {
  background: #666;
  background: rgba(35, 35, 35, 0.5);
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 10px;
}

.snapshots-page .snap {
  display: inline-block;
  height: 32px;
  width: 32px;
  background: url(/img/icn_camera.png) center center no-repeat;
}

.snapshots-page label,
.snapshots-page input {
  font-size: 14px;
}

.snapshots-page label {
  display: none;
  margin-top: 10px;
  line-height: 32px;
}

.snapshots-page input {
  padding: 4px;
  width: 400px;
  font-size: 14px;
}

.snapshots-page .retry,
.snapshots-page .share {
  display: none;
}