.users-edit-page .content,
.users-show-page .content,
.users-my-page .content {
  margin-left: 260px;
  position: relative;
  min-height: 300px;
}

.users-page p .button {
  margin-top: 0;
}

.users-page .channel-list a {
  margin-bottom: 5px;
}

.users-page .meep {
  background: #F6F6F6;
  margin-right: 0;
  margin-left: 0;
}

.users-page .meep .avatar {
  display: none;
}

.users-page .meep .author {
  background-image: none;
}

.users-page [type=search] {
  border-width: 2px;
  padding-left: 28px;
}

.users-page .user-avatar.loading {
  opacity: 0.5;
}

.users-page .avatar-container img.loading {
  opacity: 0.5;
}

.users-page .avatar-container img {
  border: 1px solid #666;
}

.users-page .avatar-container {
  position: absolute;
  top: 20px;
  left: -240px;
}

.users-page .avatar-container form {
  filter: Alpha(Opacity=60);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 12px;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
  position: absolute;
}

.users-page .avatar-container form:hover {
  filter: Alpha(Opacity=80);
  background: rgba(0, 0, 0, 0.8);
}

.users-page .avatar-container [type=file] {
  opacity: 0;
  filter: Alpha(Opacity=0);
  font-size: 50px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}