.users-edit-page .content,
.users-show-page .content,
.users-my-page .content {
  margin-left: 260px;
  position: relative;
  min-height: 300px;
}

.users-page .content > img {
  position: absolute;
  top: 20px;
  left: -240px;
}

.users-page .content > img.loading {
  opacity: 0.5;
}

.users-page p .button {
  margin-top: 0;
}

.users-page .channel-list a {
  margin-bottom: 5px;
}

.users-page .meep {
  background: #F6F6F6;
  margin-right: 0;
  margin-left: 0;
}

.users-page .meep .avatar {
  display: none;
}

.users-page .meep .author {
  background-image: none;
}

.users-page [type=search] {
  border-width: 2px;
  padding-top: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
}

.users-page .user-avatar.loading {
  opacity: 0.5;
}

.upload-button-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding-bottom: 2px;
}

.upload-button-container [type=file] {
  opacity: 0;
  filter: Alpha(Opacity=0);
  font-size: 50px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}