.users-edit-page .content,
.users-show-page .content,
.users-my-page .content {
  margin-left: 260px;
  position: relative;
  min-height: 300px;
}

.users-page p .button {
  margin-top: 0;
}

.users-page .channel-list a {
  margin-bottom: 5px;
}

.users-page .meep {
  background: #F6F6F6;
  margin-right: 0;
  margin-left: 0;
}

.users-page .meep .avatar {
  display: none;
}

.users-page .meep .author {
  background-image: none;
}

.users-page [type=search] {
  border-width: 2px;
  padding-left: 28px;
}

.users-page .user-avatar.loading {
  opacity: 0.5;
}

.users-page .avatar-container img.loading {
  opacity: 0.5;
}

.users-page .avatar-container img {
  border: 1px solid #666;
}

.users-page .avatar-container {
  position: relative;
  float: left;
  margin: 0 20px 20px 0;
  width: 142px;
  height: 142px;
  overflow: hidden;
}

.users-page h3.first-of-type {
  margin-top: 70px;
}

.users-edit-page .avatar-container {
  float: none;
  margin-top: 20px;
}


.users-page .avatar-container form {
  filter: Alpha(Opacity=60);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 8px;
  text-align: center;
  bottom: 10px;
  left: 0;
  right: 0;
  position: absolute;
}

.users-page .avatar-container form:hover {
  filter: Alpha(Opacity=80);
  background: rgba(0, 0, 0, 0.8);
}

.users-page .avatar-container [type=file] {
  opacity: 0;
  filter: Alpha(Opacity=0);
  font-size: 50px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}


.user-list ul{
  overflow:hidden;
}
.user-list form{
  position:relative;
}

.user-list form h2{
  margin: 30px 0 40px;
}

.user-list form .inputs{
  position:absolute;
  top:-8px;
  right:-10px;
}

.user-list form input[type=search]{
  padding: 5px 5px 5px 28px;
  width: 220px;
  border: 1px solid #aaa;
  font-size: 14px;
  height: 34px;
  -webkit-box-shadow: 0 0 3px #666 inset;
  -moz-box-shadow: 0 0 3px #666 inset;
  box-shadow: 0 0 3px #666 inset;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.user-list form button{
  margin: 0 10px 0 20px;
  
}
.user-list form.loading button{
  margin-left:0;
}

.user-list ul {
  margin: 20px 0;
}

.user-list li {
  float: left;
  position: relative;
  width: 90px;
  height: 60px;
  margin: 0 5px 15px 0;
  padding-left: 60px;
}

.user-list li a{
  text-decoration:none;
  display:block;
  height:48px;
}

.user-list li span{
  margin: 10px;
  width: 70px;
  display:inline-block;
  word-wrap: break-word;
}

.user-list li img{
  border: 1px solid #ccc;
  padding: 5px;
  position:absolute;
  left:0;
  top:0;
  height:48px;
  width:48px;
  -moz-box-shadow: 5px 5px 0px #eee;
  -webkit-box-shadow: 5px 5px 0px #eee;
  box-shadow: 5px 5px 0px #eee;
}

.users-page .buttons {
  margin-bottom: 70px;
}