* {
  margin: 0;
}

body {
  background-color:   #151C24;
} 

.clr {
  clear: both;
}

#header {
  margin: 5px 10px 5px 10px;
  padding-bottom: 5px;
  height: 20px;
  color:white;
  border-bottom: 1px solid white;
}

#header a {
  color: white;
}

#header img {
  float: left;
}

#header h3 {
  margin-left: 5px;
  float: left;
}

#header .navigation {
  float: right;
}

#content {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  clear: both;
}

#terms {
  background-color: grey;
  width: 400px;
  margin: auto;
  list-style-position: outside;
}

.teaser {
  font: 76%/140% "   Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  color: black;
  width:430px;
  padding:0 0 14px 0;
  margin:10px auto;
  background:url("/images/tsr2.gif") bottom left no-repeat;
}
.teaser h3 {
  margin:0;
  padding:7px 10px 3px 10px;
  background:url("/images/tsr2.gif") top left no-repeat;
}
.teaser p, .teaser a.more {
  margin:0;
  padding:0 10px 3px;
}

.chat-widget {
  background-color: #192839;
  width:  700px;
  height: 520px;
  padding:  5px;
  border:   1px solid white;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}

.chat-widget .chat-user-list {
  margin:   5px;
  height: 450px;
  width:  130px;
  border:   1px solid grey;
  float:  left;
}

.chat-widget .chat-room-selector {
  margin:   5px;
  height: 20px;
  width:  545px;
  border:   1px solid grey;
  margin-left: 20px; /*to ensure correct rendering*/
  float:  right;
}

.chat-widget .chat-room-viewer {
  margin:   5px;
  height: 450px;
  width:  549px;
  border:   1px solid grey;
  float:  left;
  overflow:auto;
} 


.chat-widget .chat-room-viewer .message {
  min-height: 35px;
  border:   1px solid grey;
  margin: 5px 3px 5px 3px;
  clear: both;
}

.chat-widget .chat-room-viewer .message img {
  float: left;
  border: 1px dotted white;
  height: 28px;
  width: 20px;
}

.chat-widget .chat-room-viewer .message p {
  float: left;
  margin-left: 5px;
}

.chat-widget input {
  margin-right:   5px;
  float: right;
}

.chat-widget .jScrollPaneContainer{
	float:left;
}

.status-widget {
  background-color: #192839;
  width: 280px;
  height: 15px;
  padding:  5px;
  border:   1px solid white;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}

.sharing-widget {
  background-color: #192839;
  width:  280px;
  padding:  5px;
  border:   1px solid white;
  margin-left: 10px;
  text-align: left;
  font-size: 14px;
  float: left;
}

.sharing-widget ul {
  font-size: 12px;
  padding: 0;
  list-style-position: inside;
}

.sharing-widget a {
  color: white;
}


.swfupload {
  margin-bottom: -5px;
}

/* maybe remove the following for production */
#fauxconsole{
	position:absolute;
	top:0;
	right:0;
	width:300px;
	border:1px solid #999;
	font-family:courier,monospace;
	background:#eee;
	font-size:10px;
	padding:10px;
}
html>body #fauxconsole{
	position:fixed;
}
#fauxconsole a{
	float:right;
	padding-left:1em;
	padding-bottom:.5em;
	text-align:right;
}
/* maybe remove the above for production */