/* =TEXT EXTENSION
=========================================================================== */
#text-extension-preview {
  background-color: rgb(255, 255, 255) !important;
  height: 0px;
  clear: both;
  margin: 1px 0 0;
  opacity: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  display: none;
  overflow: hidden;
  width: 598px;
  position: relative;
}

#text-extension-preview .remove {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  top: 3px;
  color: #fff;
  line-height: 13px;
  text-align: center;
  right: 5px;
  background: #999;
  z-index: 1;
}

#text-extension-preview .remove:hover {
  background: #666;
  text-decoration: none;
}

#text-extension-preview.loading-bar {
  background: url(/images/loading_bar.gif) no-repeat center center;
}

.text-extension-results {
  position: relative;
  font-size: 10px; /* Ensure a unique font-size */
}


#text-extension-preview a,
.text-extension-results a {
  text-decoration: none;
}

.text-extension-results a:hover {
  text-decoration: underline !important;
}


.text-extension-results h3 {
  padding: 3px 5px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4) ;
  background-color: rgb(240, 240, 240);
  position: relative;
}

.text-extension-results h3 .type {
  font-weight: bold;
  color: #FDAB54;
}

.text-extension-results ul {
  padding: 4px;
  overflow: hidden;
}

.text-extension-results li:first-child {
  margin: 0 10px 0 0;
  float: left;
  position: relative;
}

.text-extension-results a.media {
  background-color: rgb(200, 200, 200);
  float: left;
  border: 1px solid #999;
  line-height: 0;
  text-decoration: none;
}

.text-extension-results a.title {
  display: block;
  font-weight: bold;
  margin: 0 0 4px 0;
  min-width: 200px;
}

.text-extension-results a.title span {
  color: #999;
}

.text-extension-results a.description {
  color: rgb(150, 150, 150);
  min-width: 200px;
}

.user-messages .text-extension-results {
  margin-top: 12px;
}

.user-messages .text-extension-results {
  font-size: 0.7em;
}


/* YouTube Provider */
#text-extension-preview .text-extension-results.YouTube object {
  width: 590px;
  height: 356px;
}

.user-messages .text-extension-results.YouTube object {
  height: 280px;
  width: 447px;
}

.text-extension-results.YouTube a.media:hover:after {
  content: "\25BA";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 80px;
  text-align: center;
  margin: -30px 0 0 -30px;
  text-decoration: none;
  line-height: 60px;
  font-size: 50px;
  opacity: 0.8;
  text-shadow: 2px 2px 2px #000;
}

.text-extension-results.YouTube a.media:active:after {
  opacity: 0.6;
}