/* =TEXT EXTENSION
=========================================================================== */
#text-extension-preview {
  background-color: rgb(255, 255, 255) !important;
  height: 0px;
  clear: both;
  margin: 1px 0 0;
  opacity: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  display: none;
  width: 598px;
  position: relative;
}

#text-extension-preview .text-extension-results h3 {
  display: block;
}

#text-extension-preview .remove {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  top: 3px;
  color: #fff;
  line-height: 13px;
  text-align: center;
  right: 5px;
  background: #999;
  z-index: 1;
  text-decoration: none;
}

#text-extension-preview .remove:hover {
  background: #666;
}

#text-extension-preview.loading-bar {
  background: url(/images/loading_bar.gif) no-repeat center center;
}

#text-extension-preview .text-extension-results ul {
  padding: 4px;
}

.text-extension-results a {
  text-decoration: none;
}

.text-extension-results {
  font-size: 10px; /* Ensure a unique font-size */
}

.text-extension-results h3 {
  display: none;
  padding: 3px 5px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4) ;
  background-color: rgb(240, 240, 240);
  position: relative;
}

.text-extension-results h3 .type {
  font-weight: bold;
  color: #FDAB54;
}

.text-extension-results ul {
  padding: 0;
}

.text-extension-results ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.text-extension-results .title {
  display: block;
  font-weight: bold;
  margin: 0 0 2px 0;
  min-width: 200px;
}

.text-extension-results .title:hover {
  text-decoration: underline;
}

.text-extension-results .description {
  color: rgb(100, 100, 100);
  min-width: 200px;
  text-decoration: none;
}

.text-extension-results .domain {
  color: rgb(180, 180, 180);
  display: block;
  margin: 0 0 2px 0;
}

.text-extension-results .media {
  margin: 0 10px 0 0;
  float: left;
  position: relative;
  line-height: 0;
}

.text-extension-results .media a {
  display: block;
  line-height: 0;
  text-decoration: none;
}

.text-extension-results .media img {
  background: #999;
}

.text-extension-results .media a:hover img {
  -webkit-box-shadow: 0 0 20px #333;
  -moz-box-shadow: 0 0 20px #333;
  box-shadow: 0 0 20px #333;
}

.user-messages .text-extension-results {
  margin: 10px 0 6px 0;
}

/* =IFRAME (Doodle, Maps...)
--------------------------------------------------------------------------- */
.text-extension-results .media iframe {
  border: 1px solid #aaa;
  width: 447px;
  height: 200px;
  margin-bottom: 5px;
}

#text-extension-preview .text-extension-results .media iframe {
  width: 590px;
}

/* =VIDEO/FLASH TEXT EXTENSION (YouTube, Slideshare, ...)
--------------------------------------------------------------------------- */
.text-extension-results.flash object {
  height: 280px;
  width: 447px;
  margin-bottom: 5px;
}

#text-extension-preview .text-extension-results.flash object {
  width: 590px;
  height: 280px;
}

.text-extension-results.flash .media a:after {
  content: "\25BA";
  font-family: Arial;
  font-size: 20px;
  color: #fff;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  margin: -15px 0 0 -15px;
  line-height: 30px;
  opacity: 0.6;
  text-indent: 4px;
  vertical-align: middle;
  text-align: center;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px 2px #333;
  -webkit-box-shadow: 0 0 2px 2px #333;
  -moz-box-shadow: 0 0 2px 2px #333;
}

.text-extension-results.flash .media a:hover:after {
  opacity: 0.85;
}

.text-extension-results.flash .media a:active:after {
  opacity: 1;
}

/* =LINK TEXT EXTENSION
--------------------------------------------------------------------------- */
.text-extension-results.Link .media img {
  background: #fff url(/images/screenshot_fetching.gif) center center no-repeat;
}

/* =IMAGES TEXT EXTENSIONS
--------------------------------------------------------------------------- */
.text-extension-results.image .media a,
.text-extension-results.images .media a {
  width: 100px;
  height: 75px;
}

.text-extension-results.images .media a {
  position: relative;
  margin: 0 5px 5px 0;
  float: left;
  display: block;
}

.text-extension-results.images img:hover {
  background: #eee;
}

.text-extension-results.images .media a:nth-child(4n) img,
.text-extension-results.images .media a:nth-child(4n-1) img {
  right: 0;
}

.text-extension-results.images .media a:nth-child(4n+1) {
  clear: left;
}

.text-extension-results.images .title {
  clear: both;
}

/* =CODE TEXT EXTENSION
--------------------------------------------------------------------------- */
.text-extension-results.code .media,
.text-extension-results.codes .media {
  float: none;
  margin-bottom: 10px;
}

.text-extension-results.code .media pre,
.text-extension-results.codes .media pre {
  width: 460px;
  max-height: 200px;
  overflow: auto;
  margin: 5px 0;
  font-size: 10px;
  background-color: #fff;
  padding: 1px;
  border: 1px solid #999;
}

#text-extension-preview .text-extension-results.code .media pre,
#text-extension-preview .text-extension-results.codes .media pre {
  width: 586px;
}

.text-extension-results.code .media strong,
.text-extension-results.codes .media strong {
  padding-left: 21px;
  background: transparent url(/images/icn_code.png) no-repeat 0 0;
  display: block;
  width: 100%;
  white-space: nowrap;
  line-height: 16px;
  margin-bottom: 2px;
}

.text-extension-results.code .media strong a,
.text-extension-results.codes .media strong a {
  display: inline;
  margin-left: 5px;
  cursor: pointer;
}


/* Code highlighting */
pre .str { color: #080; }
pre .kwd { color: #008; }
pre .com { color: #800; }
pre .typ { color: #606; }
pre .lit { color: #066; }
pre .pun { color: #660; }
pre .pln { color: #000; }
pre .tag { color: #008; }
pre .atn { color: #606; }
pre .atv { color: #080; }
pre .dec { color: #606; }


/* =GITHUB COMMIT TEXT EXTENSION
--------------------------------------------------------------------------- */
.text-extension-results.GithubCommit .media strong {
  background: transparent url(/images/github_file_modes.png) no-repeat 0 0;
}

.text-extension-results.GithubCommit .media div.added strong {
  background-position: 0 0;
}

.text-extension-results.GithubCommit .media div.modified strong {
  background-position: 0 -40px;
}

.text-extension-results.GithubCommit .media div.removed strong {
  background-position: 0 -80px;
}
