<div class="getting-started ribbon">
  <h4>Welcome. Get started!</h4>
  <a class="getting-started-close-link" title="Don't show this again">&times;</a>
  <ol>
    <li class="change-password">
      <%= link_to edit_user_path(:id => current_user.id) do %>
        <strong>Change your admin password</strong>
        <p>It's still set to "admin".</p>
      <%- end %>
    </li>
    <li class="upload-avatar">
      <%= link_to edit_user_path(:id => current_user.id) do %>
        <strong>Update your profile</strong>
        <p>Upload an avatar &amp; change your user name. Let others know who you are.</p>
      <%- end %>
    </li>
    <li class="create-channel">
      <%= link_to new_channel_path do %>
        <strong>Create channels</strong>
        <p>Channels are like groups. Create one for each topic (eg. "Music", "Project XYZ").</p>
      <%- end %>
    </li>
    <li class="invite-user">
      <%= link_to new_invitation_path do %>
        <strong>Tell the world</strong>
        <p>Get users to collaborate with.</p>
      <%- end %>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    </li>
    <li class="write-meep">
      <a>
        <strong>Write something</strong>
        <p>Start a conversation.</p>
      </a>
    </li>
  </ol>
</div>