<nav>
  <%- unless action_name == 'index'  %>
    <a href="/users/">Overview</a>
  <%- end %>
  <%- if action_name != 'show' || (action_name == 'show' && @user != current_user) %>
    <%= link_to("My profile", user_path(current_user)) %>
  <%- end %>
</nav>
<h1>Users</h1>