<div id="network-user-widget" class="widget">
  <h3><%= link_to("Network", :controller => :users, :action => :index) %> <output class="count">(0/0)</output> <span class="loading-hint">loading ...</span></h3>
  <ul>
  </ul>
  <div class="resize"></div>
</div>