<div id="user-widget" class="widget">
  <h3 class="gradient">
    <output class="title">Users</output>
    <output class="count"></output>
    <span class="loading-hint">loading ...</span>
  </h3>
  <ul></ul>
  <div class="verifications"></div>
  <div class="resize"></div>
</div>