<div id="user-widget" class="widget">
  <h3 class="gradient">
    <% if SystemPreferences.show_only_online_users -%>
      Online Users
    <% else -%>
      Users <output class="count"></output>
    <% end -%>
    <span class="loading-hint">loading ...</span>
  </h3>
  <ul></ul>
  <div class="resize"></div>
</div>