<div id="user-list">
  <form id="user-navigation">
    <fieldset>
      <button class="parent"><span>parent</span></button>
      <input title="search for users here..."/>
      <button class="search"><span>search</span></button>
    </fieldset>
  </form>
  <ul class="root">
    <% User.registered.each do |user| %>
    <!-- tabindex="-1" ensures that the element is focusable via css -->
    <li class="" tabindex="-1" id="user-list-user-<%= user.id %>">
      <img src="<%= user.active_avatar_url || '/images/userpicture-mini.jpg' %>" width="20" height="20" alt="Userpicture Mini" />
      <%= user.display_name %>
    </li>
    <% end %>
  </ul>
</div>