<div id="user-widget" class="widget loading">
  <h3>
    <output class="title">Users</output>
    <output class="count"></output>
    <span class="loading-hint">loading ...</span>
  </h3>
  <ul class="widget-list"></ul>
  <div class="verifications"></div>
  <div class="resize"></div>
</div>