<h2>Users</h2>

<div id="users" class="users options">
  <%= link_to "delete strangers older than 2 days", { :action => "delete_stranger_older_than_two_days" }, :class => "cleanup" %>

  <ul>
    <%- @users.each do |u| -%>
      <li id="user-<%= u.id %>">
        <div class="index section">
          <%= "<span>#{h u.display_name}</span>" %>
        </div>
      </li>
    <%- end -%>
  </ul>
</div>
<div id="users-details">
</div>
