<% if @avatar %>
  <p>
    <%= avatar(current_user, :width => 36, :height => 36) %>
  </p>
  <p>
    <b>Name:</b>
    <%=h @avatar.name %>
  </p>
<% end %>

<%= link_to "Upload", new_images_avatar_path %>