<%-
  if flash.empty?
    flash_message_class_name = flash_message = ''
  else
    flash_message_class_name = 'notice'   if flash[:notice]
    flash_message_class_name = 'error'    if flash[:error]
    flash_message_class_name = 'error'    if flash[:alert]
    flash_message_class_name = 'sticky'   if flash[:sticky]
    flash_message = flash[:notice] || flash[:error] || flash[:alert] || flash[:sticky]
  end
%>
<div class="flash-message <%= flash_message_class_name %>">
  <p><%= flash_message %></p>
  <a href="/" class="flash-message-close-link" data-avoid-ajax="1">&times;</a>
</div>