<%= render :partial => "shared/flash_messages" %>

<!--[if lt IE 8]>
  <style>
    body, html {
      overflow: hidden;
      height: 100%;
    }
  </style>
  <div class="upgrade-browser">
    <p>
      Heya!<br><br>
      This is using cutting-edge technology and therefore won't work in your Internet Explorer version.<br>
      <a href="http://www.browserchoice.eu/">Please upgrade your web browser</a> and make the internet and your computer a better place.<br><br>
      Thanks :)
    </p>
  </div>
<![endif]-->