<%= render :partial => "shared/flash_messages" %>

<!--[if lt IE 8]>
  <style>
    body, html {
      overflow: hidden;
      height: 100%;
    }
  </style>
  <div class="upgrade-browser"><p><%= raw(t("hint_ie")) %></p></div>
<![endif]-->