<table class="user-roles-table">
  <tbody>
    <tr>
      <td></td>
      <td>User with restricted rights</td>
      <td>User</td>
      <td>Administrator</td>
    </tr>
    <tr>
      <td class="label">Write messages</td>
      <td class="yes"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">Start private chats</td>
      <td class="yes"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">Upload, modify or delete files *</td>
      <td class="yes"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">Create channels</td>
      <td class="no"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">Subscribe channels</td>
      <td class="no"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">See all channels</td>
      <td class="no"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">See all users</td>
      <td class="no"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">Delete users</td>
      <td class="no"></td>
      <td class="no"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">Invite people</td>
      <td class="no"></td>
      <td class="no"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label">Administrate protonet</td>
      <td class="no"></td>
      <td class="no"></td>
      <td class="yes"></td>
    </tr>
  </tbody>
</table>
<p class="hint">* Files can only be seen, modified or deleted if they are in a channel that the user has subscribed to.<br>(Example: A user who has restricted rights will never be able to see or edit a file in a channel he wasn't susbcribed to)</p>