<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>protonet Dashboard</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="No-cache" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/javascript/jquery-1.2.6.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/jquery.scrollTo.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <%= catch_content :for_layout %>
  </body>
</html>

