<h3><a href="#{httpPath}" title="#{name}" class="file">#{name}</a></h3>

<dt>Size:</dt>        <dd><abbr title="#{rawSize} Bytes">#{size}</abbr></dd>
<dt>Uploader:</dt>    <dd>#{uploader}</dd>
<dt>Uploaded:</dt>    <dd><abbr title="#{rawUploaded}">#{uploaded}</abbr></dd>
<dt>Modified:</dt>    <dd><abbr title="#{rawModified}">#{modified}</abbr></dd>
<dt>Type:</dt>        <dd>#{mime}</dd>
