<tr data-file-path="#{path}">
  <td class="file-name"><a href="#{url}" title="#{name}" class="file">#{prettyName}</a></td>
  <td class="file-modified" title="#{modified}">#{prettyModified}</td>
  <td class="file-size" title="#{size} Bytes">#{prettySize}</td>
</tr>