<div id="file-widget" class="widget loading">
  <h3>
    <%= t("files.headline_recent_files") %>
    <output class="count"></output>
    <span class="loading-hint"><%= t("hint_loading") %></span>
  </h3>
  <div class="widget-list-container">
    <ul class="widget-list"></ul>
    <div id="file-widget-drop-area">
      <span></span>
    </div>
  </div>
  <a href="/files" class="show-all"><%= t("link_show_all") %></a>
  <div class="resize"></div>
</div>