<div id="file-widget" class="widget loading">
  <h3>
    Recent Files
    <output class="count"></output>
    <span class="loading-hint">loading ...</span>
  </h3>
  <div class="widget-list-container">
    <ul class="widget-list"></ul>
    <div id="file-widget-drop-area">
      <span></span>
    </div>
  </div>
  <a href="/files" class="show-all">Show all</a>
  <div class="resize"></div>
</div>