<div id="file-list">
  <form id="file-navigation">
    <fieldset>
      <button class="parent"><span>parent</span></button>
      <input />
      <div class="hierarchy"></div>
      <button class="search"><span>search</span></button>
    </fieldset>
  </form>
  <ul class="root">
    <% file_system.each do |name, type| %>
    <li class="<%= type %>"><%= name %><%= image_tag( 'icn_download.png', {:style => "position:absolute;top: 2px; right: 0;"}) if type == 'file' %></li>
    <% end %>
  </ul>
  <form id="file-stash">
    <div id="file-upload-flash"></div>
    <fieldset>
      <button class="add" id="upload-button"><span>+</span></button> <label id="upload-button-label" for="upload-button">add files here …</label>
    </fieldset>
  </form>
</div>