<tr>
  <td class="file-name"><a href="#{rawName}" title="#{rawName}" class="file" data-mime-type="#{mimetype}">#{name}</a></td>
  <td class="file-modified" title="#{rawModified}">#{modified}</td>
  <td class="file-size" title="#{rawSize} Bytes">#{size}</td>
</tr>