<h3><a href="#{httpPath}" title="#{name}" class="file">#{name}</a></h3>

<dt>Size:</dt>        <dd><abbr title="#{rawSize} Bytes">#{size}</abbr></dd>
<dt>Uploader:</dt>    <dd><a href="/users/#{uploaderId}">#{uploaderName}</a></dd>
<dt>Uploaded:</dt>    <dd><abbr title="#{rawUploaded}">#{uploaded}</abbr></dd>
<dt>Modified:</dt>    <dd><abbr title="#{rawModified}">#{modified}</abbr></dd>
<dt>Type:</dt>        <dd>#{mime}</dd>
<dt>Malicious:</dt>   <dd><output class="virus-check">checking ...</output> <a data-hover-hint="top" class="hint" title="protonet automatically scans your files for viruses and malware">(?)</dd>

<a class="button" href="#{downloadPath}">Download</a>
