<tr data-file-path="#{path}">
  <td class="file-name"><a href="#{httpPath}" title="#{rawName}" class="file">#{name}</a></td>
  <td class="file-modified" title="#{rawModified}">#{modified}</td>
  <td class="file-size" title="#{rawSize} Bytes">#{size}</td>
</tr>