<tr tabindex="0">
  <td class="file-name"><a href="#{rawName}" title="#{rawName}" class="folder" tabindex="-1">#{name}</a></td>
  <td class="file-modified" title="#{rawModified}">#{modified}</td>
  <td class="file-size"></td>
</tr>