<tr data-folder-path="#{path}">
  <td class="file-name"><a href="#{url}" title="#{name}" class="folder" draggable="false">#{prettyName}</a></td>
  <td class="file-modified" title="#{modified}">#{prettyModified}</td>
  <td class="file-size"></td>
</tr>