<tr data-folder-path="#{path}" draggable="true">
  <td class="file-name"><a href="#{url}" title="#{name}" class="folder">#{prettyName}</a></td>
  <td class="file-modified" title="#{modified}">#{prettyModified}</td>
  <td class="file-size"></td>
</tr>