<section id="file-queue">
  <h3>
    <output class="status"><%= t("files.headline_uploading_files") %></output>
    <a class="close">&times;</a>
  </h3>
  <ol></ol>
  <div class="share-container">
    <%= raw(t("files.text_share", :href => user_files_path(current_user))) %>
  </div>
</section>