<section id="file-queue">
  <h3>
    <output class="status">Uploading files (0 %)</output>
    <a class="close">&times;</a>
  </h3>
  <ol></ol>
  <div class="share-container">
    <button>Share</button> or jump to <%= link_to "my files", user_files_path(current_user), :class => 'promotion-link' %>.
  </div>
</section>