<li class="queued">
  <a class="file" href="#{url}">
    <span class="file-name">#{name}</span> <small class="file-size">(#{size})</small>
    <div class="loading-bar-container"><div class="loading-bar"></div></div>
  </a>
</li>