<output class="content" id="plupload-drop-element">
  <nav class="file-actions">
    <ul>
      <li><a class="upload" id="plupload-browse-button" data-hover-hint="top" title="Upload files">Upload files</a></li>
      <li><a class="new-document" data-hover-hint="top" title="Add a new document">New document</a></li>
      <li><a class="new-folder" data-hover-hint="top" title="Create a new folder">New folder</a></li>
      <li><a class="share" data-hover-hint="top" title="Share the selected files">Share files</a></li>
      <li><a class="delete" data-hover-hint="top" title="Delete the selected files">Delete files</a></li>
    </ul>
  </nav>
  
  <h2><output class="address-bar"><%= params[:path] || "/" %></output></h2>
  
  <div class="table-wrapper">
    <table class="file-list">
      <thead>
        <tr>
          <th class="file-name">Name</th>
          <th class="file-modified">Last Modified</th>
          <th class="file-size">Size</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <output class="file-details"></output>
  </div>
</output>

<script type="protonet/template" id="file-item-template">
  <%= render :partial => 'file' %>
</script>
<script type="protonet/template" id="folder-item-template">
  <%= render :partial => 'folder' %>
</script>
<script type="protonet/template" id="file-details-template">
  <%= render :partial => 'file_details' %>
</script>