<output class="output">
  <h2>Files: <output data-file-path><%= params[:path] || "/" %></output></h2>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</output>
<script type="protonet/template" id="file-item-template">
  <%= render :partial => 'item' %>
</script>