<output class="output">
  <h2>Files: <output class="file-path"><%= params[:path] || "/" %></output></h2>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</output>