<ul id="file-list-menu" class="contextMenu">
  <li class="download">
      <a href="#download">Download</a>
  </li>
  <li class="delete">
      <a href="#delete">Delete</a>
  </li>
  <li class="publish">
    <a href="#publish" title="Publishes the tweet to your timeline">Publish</a>
  </li>
</ul>