<div id="file-widget" class="widget">
  <h3>Files <span class="loading-hint">loading ...</span></h3>
  
  <div class="nav-bar">
    <a rel="backward" title="back"></a>
    <div class="address-bar"></div>
    <a rel="forward" title="forward"></a>
  </div>
  
  <ul></ul>
  <div class="resize"></div>
</div>