<div id="file-list">
  <form id="file-navigation">
    <fieldset>
      <button class="parent"><span>parent</span></button>
      <input />
      <div class="hierarchy"></div>
      <button class="search"><span>search</span></button>
    </fieldset>
  </form>
  <ul class="root">
    <% file_system.each do |name, type| %>
    <li class="<%= type %>"><%= name %></li>
    <% end %>
  </ul>
  <% form_tag system_files_path, {:id => "file-stash"} do %>
    <div id="file-upload-flash"></div>
    <fieldset>
      <button class="add" id="upload-button"><span>+</span></button> <label id="upload-button-label" for="upload-button">add files here …</label>
    </fieldset>
  <% end %>
</div>

<%= render :partial => 'system/files/file_list_context_menu' %>
