<%= render :partial => 'channels/channel_selector', :locals => {:channels => @channels, :active_channel => @active_channel} %>

<% file_system = System::FileSystem.all %>

<div style="width:315px;margin:0 auto;clear:both;">
  <%= render :partial => 'system/files/file_list', :locals => {:file_system => file_system, :channel_id => 1} %>
</div>
