<table id="net-interfaces">
  <tr>
    <th>Interface</th>
    <th>IPv4</th>
    <th>IPv6</th>
  </tr>
<% @interfaces.each_pair do |(name, interface)| -%>
  <tr>
    <td><%=h name %></td>
    <td><%=h interface["inet addr"] %></td>
    <td><%=h interface["inet6 addr"] %></td>
  </tr>
<% end -%>
</table>
