<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <fieldset>
    <h3>
      Reset your password via email
    </h3>
    <label>
      <%= f.text_field :login, :placeholder => "email or user name", :autocorrect => 'off', :autocapitalize => 'off' %>
    </label>
    <div>
      <%= button "Reset", :id => "password" %>
    </div>
  </fieldset>
<% end %>