/*
 *= require jquery.mobile-1.2.0
 *= require_self
 *= require flash-message
 *= require text-extensions
 *= require user-list
 *= require emoji
 */

html, body{
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
span.error{
  color: #f00;
  font-size: 12px;
  font-style:italic;
  margin-left: 5px;
}
.ui-header .ui-title {
  margin: .6em 10% .6em;
}
.channel-page.ui-page{
  background: url(grey.png) repeat;
  height: 100%;
}
.channel-page .ui-header a.userlist{
  right: 45px;
}
.ui-content .ui-listview { margin: -15px  -15px 0 -15px }
span.ui-icon.ui-icon-new-chat{
  background-image: url(new_chat.png);
  background-size: 18px 18px;
  /* Alternatively background-size: contain; */
  height: 18px;
  width: 18px;
}
.channel-page{
  min-height: 100%;
}
.channel-page .ui-header{
  position: fixed;
  right: 0;
  left:0;  
  z-index:3;
}
.channel-page .ui-footer{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  z-index:3;
  padding: 5px;
  margin: 0;
  height: 42px;
  overflow:hidden;
}
.channel-page .content{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 39px 0 42px 0;
  margin: 0 0 -42px 0 ; /* the bottom margin is the negative value of the footer's height */;
}
.channel-page .ui-footer textarea{
  display:block;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  line-height: 1.4;
  font-size: 12px;
  width: 99%;
  outline: 0;
  resize:none;
}
.channel-page .ui-footer div.input{
  padding-right: 60px;
}
.channel-page .ui-footer div.button{
  position:absolute;
  top: 5px;
  right:5px;
}
.channel-page .ui-footer div.button .ui-btn {
  margin:0;
}
ul.timeline{
  margin:0;
  padding:10px 0;
  overflow:hidden;
  background: url(grey.png) repeat;
}
li.meep{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */;
  list-style:none;
  overflow:hidden;
  width: 100%;
  padding: 0;
}
li.meep .bubble{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #B2B2B2;
  display: block;
  padding: 3px 6px 3px;
  position: relative;
  vertical-align: top;
  position:relative;
  max-width:85%;
  float: left;    
  margin: 5px 15px 20px;   
  border: 1px solid #ccc;
}
li.meep.me .bubble {
  float: right;
}
li.meep article{
  margin: 2px 0;
  padding: 2px 0 0;
  font-size:12px;
  line-height: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
  border-top: 1px solid #ccc;
  min-width: 80px;
  display: block;
  position:relative;
}
li.meep article:first-child{
  border:none;
}
li.meep .author{
  display:inline-block;
  font-size:12px;
  color:#666;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  margin: 0 0 5px 18px;
}
li.meep .author span:after{
  content: ":";
}
li.meep.me .author{
  display:none;
}
li.meep .author img {
  height: 15px;
  width: 15px;
  margin: 0 0 -4px -18px;
}

li.meep time{
  display:block;
  padding: 2px 3px;
  font-size:10px;
  color:#999;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #B2B2B2;
  border: 1px solid #ccc;
  white-space: nowrap;
  position:absolute;
  bottom: -10px;
  right: -10px;
}

li.meep article q{
  display: block;
  margin: 5px 0;
  padding: 2px 0;
  padding-left: 5px;
  color: #666;
  border-left: 2px solid #999;
}

li.meep article pre{
  margin: 5px 0;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: auto;
  display: block;
  font-size: 12px;
  word-wrap: normal;
  background-color: white;
  border: 1px solid #CCC;
  font-family: "Courier New", Courier, monospace;
}
li.meep article pre.wrap{
  white-space: pre-wrap;
  padding: 4px;
}
