<output>
  <div>
    <a class="snap">Snap</a>
  </div>
</output>
<label>
  URL: <input type="url" readonly>
</label>
<%= button 'Ok, share it!', :class => 'share', :type => 'button' %>
<%= button 'Retry', :class => 'retry', :type => 'button' %>