<output></output>
<label>
  URL: <input type="url" readonly>
</label>
<%= button 'Snap!', :class => 'snap', :type => 'button' %>
<%= button 'Ok, share it!', :class => 'share', :type => 'button' %>
<%= button 'Retry', :class => 'retry', :type => 'button' %>