<section class="snapshots-page subpage">
  <h1>Take a snapshot!</h1>
  <div class="modal-window-scroll-content">
    <output></output>
    <label>
      URL: <input type="url" readonly>
    </label>
    <%= button 'Snap!', :class => 'snap', :type => 'button' %>
    <%= button 'Ok, share it!', :class => 'share', :type => 'button' %>
    <%= button 'Retry', :class => 'retry', :type => 'button' %>
  </div>
</section>