<output>
  <div>
    <a class="snap"><%= t("snapshots.label_snap") %></a>
  </div>
</output>
<label>
  <%= t("snapshots.label_url") %> <input type="url" readonly>
</label>
<%= button t("snapshots.label_share"), :class => 'share', :type => 'button' %>
<%= button t("snapshots.label_retry"), :class => 'retry', :type => 'button' %>