<h2 style="color: #487bff;">Hey there <%= @receiver.login %></h2>

<p>This is your new password: <i><%= @password %></i><br>
You can now login at <%= new_user_session_url %>

<p>For safety reasons please change it after your login.</p>

<p>Have fun using the protonet.</p>

