<h2 style="color: #487bff;">Hey there <%= @user.login %></h2>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<%- if SystemPreferences.publish_to_web %>
  <p><%= link_to 'Change my password', edit_password_url(@user, :reset_password_token => @user.reset_password_token, :host => SystemPreferences.public_host) %></p>
<%- else %>
  <p><%= link_to 'Change my password', edit_password_url(@user, :reset_password_token => @user.reset_password_token, :host => @host) %></p>
  <p>Note: You can only reset your password if you cann access <%= link_to root_url(:host => @host), root_url(:host => @host) %></p>
<%- end %>


<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Have fun using the protonet.</p>
