Forwarding status: <%= raw(SystemPublishToWeb.status ? '<span class="on">on</span>' : '<span class="off">off</span>') %>,
Live status: <%= raw(SystemPublishToWeb.remote_status ? '<span class="on">on</span>' : '<span class="off">off</span>') %>
<%= link_to "reload", preferences_path(:section => 'publish_to_web'), :class => 'reload-link', :title => 'reload', 'data-refresh-url' => '/preferences/publish_to_web/status' %>
