<a class="external-login facebook" title="Sign in with your Facebook login"
 onclick="window.open('<%= configatron.oauth_host %>/auth/facebook/', 'facebook', 'width=860,height=480,toolbars=no,resize=yes'); return false" data-hover-hint="top">Sign in with Facebook</a>