<a class="external-login twitter" title="Sign in with your Twitter login"
   onclick="window.open('<%= configatron.oauth_host %>/auth/twitter/', 'facebook', 'width=860,height=480,toolbars=no,resize=yes'); return false" data-hover-hint="top">Sign in with Twitter</a>