<div id="main-chat-widget" class="chat-widget"></div>

<div id="main-sharing-widget" class="sharing-widget">
<%= form :action => url(:controller => "foo", :action => "bar", :id => 1) do %>
  <%= file_field :name => "file", :label => "file" %>
  <%= submit "Upload" %>
<% end =%>
</div>


<script type="text/javascript" charset="utf-8">
  cw = new ChatWidget({'user_id': <%= current_user.id %>, 'user_config': {}, 'div_container': $('#main-chat-widget')});
</script>