<h1 style="color:white;">yay!</h1>

<h3>You are currently in: <%= @lobby.name %></h3>
<div style="background-color:grey; width:500px; height:400px;">
  
</div>

<a href="<%= url(:logout) %>">logout</a>