<li class="meep" tabindex="0">
  <article>
    <div class="text">#{converted_message}</div>
    <output class="text-extension-container"></output>
    <div class="author">
      #{author}
      <time datetime="#{created_at}" title="#{created_at}">#{created_at}</time>
      #{reply_from}
      #{posted_in}
    </div>
  </article>
  <a class="avatar" href="/users/#{user_id}" data-avoid-ajax="1" data-user-id="#{user_id}" target="_blank">
    <img src="<%= image_proxy("#\{avatar\}", {:width => 36, :height => 36, :local => true, :escape => false}) %>" width="36" height="36">
  </a>
</li>
