<li class="meep" tabindex="0">
  <article>#{converted_message}</article>
  <div class="author">
    #{author} <time title="#{created_at}">#{created_at}</time> #{reply_from} #{posted_in}
  </div>
  <a class="avatar" href="/users/#{user_id}" data-user-id="#{user_id}" target="_blank">
    <img src="#{avatar}" width="36" height="36">
  </a>
</li>