<div class="info ribbon">
  <h2><%= t("meeps.headline_loading", :id => params[:id]) %></h2>
  </p><%= t("meeps.text_detail_view") %></p>
</div>

<output data-meep-scroller-for="<%= Meep.prepare_for_frontend(@meep).to_json %>" class="content"></output>
