<div class="info ribbon">
  <h2>Loading message #<%= params[:id] %> ...</h2>
  </p>Here you can scroll in a convenient way through the chat history. Use the arrow keys or mouse wheel for scrolling</p>
</div>

<output data-meep-scroller-for="<%= params[:id] %>" class="content"></output>