<!DOCTYPE html>
<html>
  <%= render :partial => 'shared/layout_head' %>
  <body>
    <%= render :partial => 'shared/layout_basic_body' %>
        
    <%= yield %>
    
    <%= render :partial => 'shared/layout_footer' %>
  </body>
</html>